[2021-06-02 17:48] ruddradev commented on #652
Thanks a lot for the insight. I am able to load the right maps now.

[2021-06-02 17:48] #652 closed

[2021-06-03 21:55] erikwijmans commented on #650
There isn't anything obvious to change and in my experience the same setup works for training vs. frozen CNN.  I'd look for some bug in the loading code.

[2021-06-04 02:52] ericchen321 commented on #651
Thanks!

[2021-06-04 02:52] #651 closed

[2021-06-04 11:36] mukulkhanna commented on #633
Hey @nilinykh, sorry for the late response. Please feel free to tag me for any future queries related to the EQA implementation.

Sorry for the condusion. The depth sensor made available using the config file seems to be a small mistake. However, it does not affect the input, training, or evaluation in any way -- only the RGB images are fed to the network.

Having the depth sensor in the config on

[2021-06-06 11:14] nilinykh commented on #633
Ah, I see! Thank you for the information.

Got it =)

[2021-06-06 11:14] #633 closed

[2021-06-07 17:46] yifan123 opened #654 "Platform::WindowlessEglApplication::tryCreateContext(): cannot initialize EGL: EGL_NOT_INITIALIZED"
## ❓ Questions and Help

Hi there,

I'm trying to set up habitat-sim on a remote CentOS Linux release 7.4.1708 (Core) machine and running into the following error when trying to run simulations. Any help with installation would be appreciated:

    I0607 19:03:14.663993 106203 SceneGraph.h:93] Created
    DrawableGroup:Platform::WindowlessEglApplication::tryCreateContext(): cannot initialize EGL:

[2021-06-07 19:11] erikwijmans commented on #654
Duplicate of https://github.com/facebookresearch/habitat-sim/issues/1298

[2021-06-07 19:11] #654 closed

[2021-06-15 07:49] gianscarpe opened #656 "Project a single point from one view to the other"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: 0.1.7
Dear all,
I'm follwing the tutorial at https://aihabitat.org/docs/habitat-lab/view-transform-warp.html.
In particular, I have the camera of the agent and an observation obtained with `get_observation_at`, as explained in the tutorial.
I need to project one point from the agent's camera to the novel observation. To do so, I compute the intr

[2021-06-17 17:15] erikwijmans commented on #656
As that tutorial says, "negate depth as the camera looks along -Z", you need to negate the depth value.

[2021-06-17 22:13] rithik25 commented on #473
@aclegg3  Is it possible to import some object/character with a custom motion/animation? For example, would I be able to import a human with a walking animation into my scene?

[2021-06-17 22:32] aclegg3 commented on #473
@rithik25 This question should probably be its own issue/feature request.

Introduced with [this Habitat-sim PR](https://github.com/facebookresearch/habitat-sim/pull/1312), you can import a character which is described by a URDF file and animate its joints. However, mesh skinning is not currently supported, so your character would need to be composed of rigid links.

[2021-06-22 22:56] ericchen321 opened #658 "PPO agent produces non-deterministic results when evaluating the same episode"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master (commit ce397)
Habitat-Sim: master (commit 5cb10)

## Docs and Tutorials
Did you read the docs? Yes
Did you check out the tutorials? Yes

## ❓ Questions and Help
### Problem
Hello, I am trying to evaluate the V2 RGBD agent in one of the Habitat test point-navigation episodes in a similar fashion as [`ppo_agents.py`](https://github.com/fac

[2021-06-23 02:36] erikwijmans commented on #658
This is because the state of the PRNGs for action noise and sensor noise is different.  Those get seeded at simulator/environment creation but not on reset so their state will be a function of the pervious episodes.  If you want to fix the random seed based on the episode, doing something like `env.seed(hash(env.current_episode.scene_id) + hash(env.current_episode.episode_id))` should work.

[2021-06-23 03:05] ericchen321 commented on #658
Hi Erik, thanks for the quick response! That makes sense.

[2021-06-23 03:31] ericchen321 commented on #658
Sorry for asking help on this again - I have fixed the environment's random seed to `0`, but still I'm having the discrepency.

I suspect this being the agent's problem rather than the environment's, because I have compared sensor readings and noticed that as long as the agent was producing the same action, the readings I got from `env.step()` were always identical. The divergence happened from th

[2021-06-23 16:56] erikwijmans commented on #658
Yeah, likely an agent issue.  Worth reading through PyTorch's docs on determinism: https://pytorch.org/docs/stable/notes/randomness.html

[2021-06-23 22:50] ericchen321 commented on #658
Hi Erik, again thanks for looking into this issue. I will look into the doc and see if I can find the source of non-determinism.

[2021-06-24 14:08] gianscarpe opened #659 "Task sensors with get_observation_at"
Hi there!
Is there a way to obtain also task sensors (like custom-defined sensors) when call "get_observation_at" and selecting a different viewpoints? The best solution I came up with is simply calling the get_observation function of a task-sensor with results from get_observation_at, but I cannot figured out how do that in practice.
Do you have any suggestions?
Thanks for your time :)

[2021-06-30 13:59] gianscarpe commented on #60
Hi! Is this still of any interests?

[2021-07-02 18:31] Jiayuan-Gu opened #670 "X Error of failed request"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already be fixed in the latest

[2021-07-02 20:01] gtatiya opened #671 "AttributeError: 'habitat_sim._ext.habitat_sim_bindings.CameraSensor' object has no attribute 'render_camera'"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.1.7, commit: d6ed1c0a0e786f16f261de2beafe347f4186d0d8

Habitat-Sim: v0.1.7, commit: 856d4b08c1a2632626bf0d205bf46471a99502b7

## Docs and Tutorials
Did you check out the tutorials? https://aihabitat.org/tutorial/2020/
Right now, I am going through that.

## ❓ Questions and Help

I am using the stable release v0.1.7 for Habitat-Sim and Habitat

[2021-07-02 21:21] erikwijmans commented on #671
Huh, looks like we tagged the wrong thing for 0.1.7.  bdd94e31eaa6f28036e92456b3ad3772a283b871 should have been what was tagged. @mathfac can we retag it?

[2021-07-04 18:36] mathfac commented on #671
@erikwijmans, the issue is that bdd94e31eaa6f28036e92456b3ad3772a283b871 doesn't have the version bump.

[2021-07-06 16:21] erikwijmans commented on #670
A headless version of the simulator likely doesn't work with pygame.  You can install the headed version via
[code]

[2021-07-07 11:17] smorad commented on #6
Has there been any update on this? I see multi agent support exists many places in the codebase, but there are no guides on how to add additional agents. Adding `AGENT_1, AGENT_2, ...` to the habitat config doesn't work.

[2021-07-07 12:06] ugurbolat opened #672 "Expert Actions for Exploration"
Hi Habitat devs!

I was wondering if is there any dataset/environment (i.e., Replica, MP3D, etc.) that provides expert navigation actions for exploring the environment? I would like to experiment with building a semantic map, but it would be helpful if I can simplify the problem by disabling the action part for starters.

[2021-07-07 13:25] phj128 opened #673 "About rearrangepick running"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: vx.x.x or master?

master

Habitat-Sim: vx.x.x or master?

master

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-s

[2021-07-07 14:37] dhruvbatra commented on #672
CC: @vincentcartillier

[2021-07-07 14:48] vincentcartillier commented on #672
Hi @ugurbolat , this sounds very familiar. You should take a look at our Semantic MapNet project:
- https://vincentcartillier.github.io/smnet.html
- https://github.com/vincentcartillier/Semantic-MapNet

In this project we build topdown semantic maps of an explored space (work done in MP3D and Replica). The exploration strategy here is assumed provided by an external policy or an oracle. In practic

[2021-07-07 15:28] ugurbolat commented on #672
Hi @vincentcartillier,

Thanks for the leads. This is exactly what I needed. Let me dig into your repo.

[2021-07-08 01:32] jadkins99 opened #675 "AttributeError: CONTENT_SCENES"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

When I run examples/interactive_play.py I receive an attribute error.

![Screenshot from 2021-07-07 21-28-59](https://user-images.githubusercontent.com/48653578/124848252-7a850f00-df6a-11eb-9409-421d70386317.png)

## Steps to Reproduce

Steps to reproduce the behavior:
1. python examples/interative_play.py --cfg conf

[2021-07-08 11:00] JiayunjieJYJ opened #677 "I can't run the example/example.py after install habitat-sim and habit-lab"
## 🐛 Bug

## Steps to Reproduce

Steps to reproduce the behavior:
1. cd habit-lab
2. python example/example.py
3. I can't run the example.py, tail of the info in terminal:
[code]

I dont know the reason about that, please tell me how to solve it.

[2021-07-08 11:05] JiayunjieJYJ opened #676 "I can't run the example/example.py"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: vx.x.x or master?
master
Habitat-Sim: vx.x.x or master?
master

## 🐛 Bug

## Steps to Reproduce

Steps to reproduce the behavior:

1. cd habitat-lab
2. python example/example.py
Tail of the info in the terminal:

[code]
That's all about the error, please tell how to solve it. Thanks!

[2021-07-08 15:56] erikwijmans commented on #677
Closing in favor or #676

[2021-07-08 15:56] #677 closed

[2021-07-08 16:27] JiayunjieJYJ commented on #677
Can you please tell me how to solve it? #676 is also proposed by me, it is remain a problem, thanks!

[2021-07-08 16:31] JiayunjieJYJ commented on #676
It is still a problem, I follow the step of this :https://github.com/facebookresearch/habitat-lab#installation, but I can't run example/example.py.

[2021-07-08 16:49] mathfac commented on #676
@JiayunjieJYJ , thank you for reporting this. Did you install Habitat Sim using Conda: `conda install habitat-sim withbullet headless -c conda-forge -c aihabitat`? Thank you.

[2021-07-08 18:46] jadkins99 opened #678 "Crash when running examples/tutorials/nhp_python/Habitat_Interactive_Tasks.py"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already be fixed in the latest

[2021-07-08 19:41] erikwijmans commented on #678
You need to download the required scene, run
[code]
to download that.

[2021-07-08 19:47] jadkins99 commented on #678
Okay, thank you! After downloading the scene and running again, there is a IndexError: list out of range error. What is the cause of this?
![Screenshot from 2021-07-08 15-46-02](https://user-images.githubusercontent.com/48653578/124981615-c3d56d00-e003-11eb-91a6-9a4d07f0c1d1.png)

[2021-07-08 19:53] erikwijmans commented on #678
Likely missing some additional assets,
[code]
should get all the needed ones.

[2021-07-08 22:29] #672 closed

[2021-07-09 00:26] JiayunjieJYJ commented on #676
Thank you for your reply. I install habitat-sim and habitat-lab on my virtual machine Ubuntu 18.04.5 on my laptop. The process was below :

[code]
After I run: **conda install habitat-sim withbullet headless -c conda-forge -c aihabitat** , I found the problem changed into this:
[code]

[2021-07-09 00:28] JiayunjieJYJ commented on #676
Could you please tell me how to solve the new problem above？

[2021-07-09 00:31] ASzot commented on #675
Hello, thanks for reporting this. Unfortunately, the interactive play script was accidentally included in the release and was not ready yet. The interactive play script is fixed in this pull request: https://github.com/facebookresearch/habitat-lab/pull/674. This pull request should be merged soon.

[2021-07-09 00:33] ASzot commented on #673
Could you run `python example/example.py` and report any errors you are having there? Also note that this pull request fixes some issues in the Pick task training: https://github.com/facebookresearch/habitat-lab/pull/674. This pull request should be merged soon.

[2021-07-09 19:30] #675 closed

[2021-07-09 19:30] jadkins99 commented on #678
Great! Thank you!

[2021-07-09 19:30] #678 closed

[2021-07-09 19:50] jadkins99 opened #681 "Question on Home Assistant Benchmark Tasks/Actions"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-09 20:53] dhruvbatra commented on #681
The HAB tasks have not been yet been released.

<img width="675" alt="image" src="https://user-images.githubusercontent.com/2941091/125134915-0018d400-e0bd-11eb-97f6-7a39422055e1.png">

[2021-07-10 02:17] jadkins99 commented on #681
Okay, thank you!

[2021-07-10 02:17] #681 closed

[2021-07-10 05:34] mathfac commented on #676
Make sure that your GPU is accessible from Ubuntu.

You can set the environment variables for additional logging about why it couldn't find a device.

[code]

Please look at https://github.com/facebookresearch/habitat-sim/issues/288 as it likely contains the answer.

[2021-07-10 05:35] mathfac commented on #671
@gtatiya  are you using  bdd94e3 commit?  Otherwise I would advice to use that commit.

[2021-07-12 06:47] #673 closed

[2021-07-12 11:21] pbideau opened #682 "Potential Gym 0.2 API Incompatibility."
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: master

## ❓ Questions and Help
It looks to me that gym is installed but somehow not found by habitat. Maybe someone has an idea how to solve this issue?
thank you very much in advance!

[code]

[2021-07-12 14:32] jadkins99 opened #683 "Question about Action Space"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-12 18:03] dhruvbatra commented on #683
CC: @ASzot

[2021-07-12 18:03] dhruvbatra commented on #682
CC: @mathfac

[2021-07-12 18:04] #676 closed

[2021-07-12 18:04] #670 closed

[2021-07-13 01:28] ASzot commented on #683
Hello, the 7 parameters are joint offset values for the robot arm (the Fetch robot arm has 7 arm joints). You can find the code [here](https://github.com/facebookresearch/habitat-lab/blob/9220a301c3b168f845150a3d2f20df8fc21f3842/habitat/tasks/rearrange/actions.py#L113) for setting the arm motor positions. You’re correct the paper used end-effector control rather than joint control for the action s

[2021-07-13 10:38] pbideau commented on #682
I am replying here to my own question :-)
The solution to this was to first uninstall the automatically installed gym 0.2.0 and then to manually install gym 0.18.3.
This way a gym version was found while running setup.py and not being installed again.

I actually do not quite understand why gym 0.18.3 was correctly identified as the best match (see terminal output), but gym 0.2.0 is getting instal

[2021-07-13 15:23] Skylion007 commented on #682
@ASzot @mathfac  Looks like some potential OpenAI Gym API incompatibility. We might need to deal with this for the gym wrapper.

[2021-07-13 15:30] #682 closed

[2021-07-14 10:28] amoyplane opened #686 "Question about examples/interative_play.py"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master(https://github.com/facebookresearch/habitat-lab/commit/368007d067119518124e9d632f4769ee1d5898e4)
Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [

[2021-07-14 15:50] dhruvbatra commented on #686
CC: @ASzot

[2021-07-15 15:00] ASzot commented on #686
Thank you for raising these issues. The interactive play script was working locally for me, but upon reinstalling I experienced the same problems.

1. This is a bug. Fixed in this PR: https://github.com/facebookresearch/habitat-lab/pull/687.
2. Not sure why this is happening, I think this is a bug, I will fix it and get back to you.
3. You have an incompatible version of Habitat Sim installed, I r

[2021-07-15 17:16] jadkins99 commented on #683
Great thank you!

[2021-07-15 17:16] #683 closed

[2021-07-15 17:44] jadkins99 opened #688 "Issue When loading scene from scene. MeshTools::compile() invalid external buffer(s)"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-15 18:06] dhruvbatra commented on #688
CC: @mathfac @ASzot

[2021-07-15 21:16] erikwijmans commented on #688
That's likely due to some data corruption.  Can you re-run the data download,
[code]

[2021-07-16 19:45] jadkins99 commented on #688
Okay thank you!

[2021-07-16 19:45] #688 closed

[2021-07-16 19:57] jadkins99 opened #689 "Question about VectorEnv with Habitat 2.0"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-18 10:32] JeremyLinky commented on #573
I meet the same issue as:
` File "/home/siddharth/habitat-api/habitat_baselines/common/utils.py", line 31, in sample
return super().sample(sample_shape).unsqueeze(-1) TypeError: <lambda>() takes 1 positional argument but 2 were given`
Could you tell me how you tackle it finally? Thx!!

[2021-07-18 12:49] amoyplane commented on #686
Thank you for your reply. I use Habitat-sim mater and #https://github.com/facebookresearch/habitat-lab/tree/interactive_play_fixes , the problem of crash and flipped horizontally solved :).

As for the wrong view from headcamera, I found that https://github.com/facebookresearch/habitat-sim/blob/master/habitat_sim/robots/fetch_robot.py#L22 uses a -Z gravity coordinate system, and modify it with
[co

[2021-07-18 13:04] amoyplane commented on #686
When adapting my work to habitat2.0 I am confused with some questions that:
1. The arm can get through the surface of wall, table and refrigerator where it should be blocked (while the robot itself can't). I can see the number of Robo-Scene Coll increase, so this would be a feature or a bug? And the work of Home Assistant Benchmark (HAB) in paper (like open the drawer) seems have not been released

[2021-07-19 13:14] rpartsey opened #690 "HabitatSim reconfigure method"
## ❓ Questions and Help

My colleagues and I are working on the odometry module for PointNav task.
We would like to train the neural network for estimating the change in position and orientation using pairs of observations extracted directly from the scene (following the example from [here](https://aihabitat.org/docs/habitat-sim/image-extractor.html?fbclid=IwAR3_T-ksJ9kf3lMKj09rmM7qkH490WyGhyTostI

[2021-07-20 11:59] ruddradev opened #691 "[Errno 104] Connection reset by peer when loading multiple Gibson Scenes on multiple GPUs"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v1.5

Habitat-Sim: v1.5

## ❓ Questions and Help

Hello,

I have been trying to find the source of this error for a while, and would be great if I get any direction. I know it is an earlier version of Habitat, but I don't have a lot of choice here since I am evaluating another paper's code, and rewriting it for a newer version of Habitat might b

[2021-07-20 14:30] pbideau opened #692 "examples: interactive_play.py - segmentation fault"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: stable (installed via conda)

## ❓ Questions and Help
I am trying to get the example code to run
if I run `python examples/interactive_play.py` I am getting a Segmentation fault error.

[code]

The error arises in line 292 of interactive_play.py, when the variable step_results is set. The error seems to be related to the rend

[2021-07-20 16:21] jadkins99 commented on #689
Was able to fix it by wrapping my Env in an RLEnv wrapper.

[2021-07-20 16:21] #689 closed

[2021-07-20 17:48] jadkins99 opened #693 "navmesh for replica_cad"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-20 20:36] jturner65 commented on #693
Hello

I'm sorry you're running into issues with this.  If you notice in your printout, the dataset being used is 'default', which is not what you want here.

You need to specify the Scene Dataset Configuration file for ReplicaCAD (this file is named "replicaCAD.scene_dataset_config.json" and is in the root of the replicaCAD data directory in the dataset download).  You should add a field to your

[2021-07-22 18:27] Skylion007 commented on #489
Ping @aravwatwani if you are still interested in working on this.

[2021-07-23 19:48] jadkins99 commented on #693
Okay, thanks so much for your help!

[2021-07-23 19:48] #693 closed

[2021-07-27 01:06] sparisi opened #694 "Env seems not to read config file value after edit"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: v0.2.0.2021.07.25 (nightly build) (master gives me errors)

## Docs and Tutorials
I checked this tutorial
https://github.com/facebookresearch/habitat-lab/blob/master/docs/pages/habitat-lab-demo.rst

## ❓ Questions and Help
**What I need to do:** I need to set `MAX_EPISODE_STEPS` and `SIMULATOR.RGB_SENSOR.WIDTH` (and height) f

[2021-07-27 16:47] erikwijmans commented on #694
It should be `TASK_CONFIG.ENVIRONMENT.MAX_EPISODE_STEPS`

[2021-07-27 17:19] sparisi commented on #694
It works, thanks! It also works for observation width and height, awesome :)

[2021-07-27 17:19] #694 closed

[2021-07-28 08:18] #636 closed

[2021-07-28 08:18] #638 closed

[2021-07-28 08:19] #650 closed

[2021-07-29 01:31] AgentEXPL commented on #531
@aclegg3 I am not sure about the following things, could you help me to figure out?
1. I have noticed that “orientation: numpy.ndarray[numpy.float32[3, 1]]”. If I set the value of the orientation as "[x,y,z]", does it mean that the pitch, yaw, and roll of the sensor are x, y, z, respectively, as shown in the following figure? And it means to look more toward the ceiling if x is [positive?]
![pitch

[2021-07-29 08:18] AgentEXPL commented on #531
Based on coding and testing, I think the answer to the above problems are as follows.
1. The answer to question 1 is yes. In addition, the value of x needs to be set as radian (i.e., 30/180*pi) rather than degree (30 degrees).
2. The answer to question 2 is yes.
3. The answer to question 3 is no. It seems that only HFOV can be specified in the .yaml config file.

[2021-07-29 12:06] sparisi opened #696 "How to activate rendering in human mode?"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: master

## Docs and Tutorials
I checked them, but I couldn't find anything for 'render' and 'human'.

## ❓ Questions and Help
I would like to render environments in human mode, to see something like Fig. 1 and 2 of [your paper](https://arxiv.org/pdf/2106.14405.pdf), and your [demo video](https://aihabitat.org/tutorial/2020/).

[2021-07-29 13:26] sparisi opened #697 "Math::Quaternion::fromMatrix(): the matrix is not orthogonal"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: master

## ❓ Questions and Help
I am running the [rearrange task](https://github.com/facebookresearch/habitat-lab/blob/master/habitat_baselines/config/rearrange/ddppo_rearrangepick.yaml) with a custom interface in order to use SAC from another repo. I am using the same yaml configuration, just with smaller RGB inputs (64x64).

[2021-07-29 17:44] dhruvbatra commented on #697
CC: @mathfac

[2021-07-29 17:47] dhruvbatra commented on #696
CC: @ASzot

[2021-07-30 00:38] ASzot commented on #697
Hello, I am also experiencing the same issue. Below I included a more detailed trace of the error by running with `PYTHONFAULTHANDLER=1`. I think this is actually a bug in Habitat Sim, not Habitat Lab. This error happens randomly for me, it will happen on some machines but not others and some methods but not others. For example, I am able to train a SAC policy for 1M steps on the Reacher environme

[2021-07-30 00:48] ASzot commented on #696
Hello, it sounds like what you want will be provided in our Gym adapter here: https://github.com/facebookresearch/habitat-lab/blob/268fa779ec6bcaa39c36d58faa60cd6bd815e340/habitat_baselines/utils/gym_adapter.py#L167. Currently, only the RGB format is supported. We haven't released the nicer-looking ReplicaCAD scenes yet from Figures 1 and 2 of the paper and supplementary video for a "human" mode.

[2021-07-30 00:57] sparisi commented on #696
Hi, thanks for your reply!
I managed to render RGB images with a custom viewer (similar to your utility). I asked for the third-person view because this gives a better idea of what the agent is doing, and allows to check if it is learning something meaningful (regardless of the increasing trend of the reward).
RGB images are ok-ish for that, so I guess I will just wait for future rendering feature

[2021-07-30 00:58] ASzot commented on #692
What system are you running this on? @mathfac, @aclegg3 any idea why this could be happening? I just verified the interactive play script works as expected on my MacBook. Can you try running the interactive play script on this branch: https://github.com/facebookresearch/habitat-lab/tree/hab2_motion_planning? It has some stability fixes which could make a difference.

[2021-07-30 01:02] ASzot commented on #696
Yes, the current gym wrapper I linked to should render in this 3rd person POV. Here is an example of a video I just generated of an agent trained to reach target end-effector locations in a minimal scene. The `render()` method from `HabGymWrapper` was used to generate this.

https://user-images.githubusercontent.com/10453381/127584176-99aa3d4e-9d73-4b0f-a374-c8e02bf9cb6e.mp4

[2021-07-30 18:01] #457 closed

[2021-07-30 18:48] jadkins99 opened #698 "Question about ee_pos"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.0

Habitat-Sim: v0.2.0

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2021-07-31 00:04] mathfac commented on #697
@sparisi can you share the setup to reproduce the issue?

[2021-07-31 01:40] ASzot commented on #698
Not necessarily, this only constrains the _target_ end-effector position in IK control: https://github.com/facebookresearch/habitat-lab/blob/bc85d0961cef3b4a08bc9263869606109fb6ff0a/habitat/tasks/rearrange/actions.py#L361. When controlling the arm via the 7DoF control, this does not apply. Thanks for pointing out how this is not clear, a future PR will better document this.

[2021-07-31 04:45] jadkins99 opened #700 "When running example.py: AttributeError: 'FetchRobot' object has no attribute 'base_transformation'"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already be fixed in the latest

[2021-07-31 15:12] sparisi commented on #696
(I updated both sim and lab to the latest version).

The video you uploaded doesn't load/play (gray screen stuck at 0:00).

I tried using `HabGymWrapper`, but it gave me some errors.
If I try it like in [this examples](https://github.com/facebookresearch/habitat-lab/blob/9fc385c3e09e4799fe471e22bcd3e774c8bd9c8e/test/test_gym_wrapper.py#L25), I do
[code]
and get
[code]

The task is a custom `pointn

[2021-08-01 02:19] sparisi commented on #697
@mathfac

I have attached a script to reproduce the last error (see below). (Maybe this should go to a separate issue.)
[rearrange_test.zip](https://github.com/facebookresearch/habitat-lab/files/6912045/rearrange_test.zip)
Launch it from habitat-lab root.
Even if I set the action space seed, numpy seed, and env seed, I cannot get it to crash always at the same episode. I am not sure if I am forget

[2021-08-01 15:15] ASzot commented on #697
I still get the not orthogonal error, even on the most recent commit of Habitat Sim and Habitat Lab.

[2021-08-02 04:33] dhruvbatra commented on #700
CC: @mathfac

[2021-08-02 11:32] heurainbow commented on #700
similar issue

[2021-08-02 13:15] AgentEXPL opened #701 "How to take a video where the robot is captured?"
I want to make a video which records a moving robot/agent. The video is similar with the video in the [tutorial page](https://aihabitat.org/tutorial/2020/). At present, I know how to get the RGB image from the RGB sensor mounted on the agent. However, I don't know how to make the agent/robot be visible in the observation. In a word, the problem is as follows:

Whether the default agent (i.e., cyli

[2021-08-02 15:49] aclegg3 commented on #701
Hey @AgentEXPL, the default agent does not have a visual shape, so there is nothing for the camera to render. You can easily attach any asset to the Agent's SceneNode including a primitive cylinder shape. Check out the last cell in [this Colab ](https://colab.research.google.com/github/facebookresearch/habitat-sim/blob/master/examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb) for an example

[2021-08-03 12:54] AgentEXPL commented on #701
Hi @aclegg3 , thanks a lot for your quick reply. Based on your answer, I finally obtained what I want.

By the way, I found a spelling mistake in the [example](https://github.com/facebookresearch/habitat-sim/blob/master/examples/tutorials/nb_python/ECCV_2020_Interactivity.py) provided in habitat-sim, as follows. When I changed the value of the position of sensors, the observations did not change.

[2021-08-03 12:55] #701 closed

[2021-08-04 00:54] AgentEXPL commented on #701
Hi, @aclegg3 . A strange thing occurs when I run the above example if I set "allow_sliding = False". The locobot is stuck at the corner of the wall from 00:10. However, it suddenly gets the banana which is originally located at the bathroom at 00:30. Does it means that the non-visible agent actually has moved into the bathroom during 00:10~00:30, even though the locobot (which is visible) is stuck

[2021-08-04 20:10] AshwiniUthir opened #702 "ValueError: Argument 'goals' must be set"
Hi, I am new to Habitat. I am trying to run the example given in "https://aihabitat.org/docs/habitat-lab/quickstart.html" and I am running into the below error:
[code]

Can someone help me resolve this?

[2021-08-05 13:52] gwendalp opened #703 "Inferences without dependencies on habitat_sim"
Hi, I would like to run PPO Agent on NVIDIA Jetson but I can't load a PPO Agent without habitat_sim installed. Habitat_sim can't be installed on ARM architecture via conda. In short, can I run model with real observations or gazebo observations without habitat_sim installed. Any advice ? Thank you.

[2021-08-06 01:18] nightkidwyxc opened #704 "LibGL error problem"
## ❓ Questions and Help
Hi All,

I am new to Habitat-lab, I was trying to install Habitat-lab& Habitat-sim on my Ubuntu 18.04. However, I got some errors show below after I run "python ./examples/example.py" :

libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
Platform::WindowlessGlxContext: cannot create core context, falling back to compatibility cont

[2021-08-07 15:17] erikwijmans commented on #704
We support non nvidia graphics cards for non-headless binaries, which is what you seem to be using based off `Platform::WindowlessGlxContext`.

I haven't dealt with this exact issue, but in general you want to use libgl from your graphics card vendor's drivers not mesa as mesa is generic software drivers and won't have hardware support.  One issue that happens from time to time is installing mesa

[2021-08-08 18:52] zxwang96 opened #706 "Order of goal location array"
Hi,

I'd like to know the order of the pose element in the `position` array. Is it (x,y,o) or (x,o,y)?
https://github.com/facebookresearch/habitat-lab/blob/cafea28a2d685e02b8ffe339d7dd556a0b1ea42d/examples/shortest_path_follower_example.py#L71

[2021-08-08 22:34] erikwijmans commented on #706
It's a position, so `(x, y, z)`.

[2021-08-09 01:24] zxwang96 commented on #706
Hi, thanks for answering my question. But based on my experiment, I have to give the goal position in the format of (x, orientation, y) to the `get_next_action()` method of `ShortestPathFollower`. I don't see any translation of `goals[0].position` from (x,y,o) to (x,o,y), so I assume it should be (x, o, y)?

[2021-08-09 01:24] AshwiniUthir commented on #702
Fresh installation of Habitat solved this issue.

[2021-08-09 01:24] #702 closed

[2021-08-09 17:57] erikwijmans commented on #706
Neither `NavigationGoal.position` nor `get_agent_state(0).position` has an orientation/rotational component.  Both are simply a 3D position `(x, y, z)` where +Y is up.  The agent orientation is in `get_agent_state(0).rotation` while `NavigationGoal` has no orientation.

[2021-08-09 18:30] zxwang96 commented on #706
I see, thank you so much!

[2021-08-09 18:30] #706 closed

[2021-08-10 17:47] jadkins99 commented on #681
Any updates on when the HAB tasks and actions will be released?

[2021-08-10 22:51] jadkins99 commented on #696
I am having the same problem, did you solve it?

[2021-08-10 23:09] jadkins99 commented on #698
Okay, thank you!
Where can we find the set of possible (x,y,z) end-effector positions that the agent can achieve in the environment?

[2021-08-11 01:34] mbgniuxya opened #707 "Unable to run baseline object navigation"
Hi all,
I'm having trouble running habitat object navigation baseline on matterport 3d dataset on ubuntu 20.04.
I have nvidia driver 465.19.01 with cuda version 11.3, rtx 3090 gpu.
The command I used to run the baseline: python habitat_baselines/run.py --exp-config habitat_baselines/config/objectnav/ddppo_objectnav.yaml --run-type `train`
The output I got:

[code]

[2021-08-11 12:13] sparisi commented on #696
No sorry, I didn't. I am using the 1st person rendering at the moment.

[2021-08-16 03:53] zhaozj89 opened #708 "/opt/conda/envs/habitat/bin/python: Error while finding module specification for 'habitat_sim.utils.datasets_download' (AttributeError: module 'habitat_sim.utils' has no attribute '__path__')"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: docker fairembodied/habitat:latest

Habitat-Sim: docker

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/release

[2021-08-16 04:13] mathfac commented on #708
Hi Zhenjie,

The Docker image isn’t updated continuously and wasn’t built for Habitat
2.0.
You can rebuild it using next Docker file:

https://github.com/facebookresearch/habitat-lab/blob/master/Dockerfile

On Sun, Aug 15, 2021 at 8:53 PM Zhenjie Zhao ***@***.***>
wrote:

[2021-08-16 12:52] RavenKiller opened #709 "The measurement 'SUCCESS' was mistakenly written as 'SUCESS' in configs/tasks/vln_r2r.yaml"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: stable
Habitat-Sim: stable

## 🐛 Bug

When I run a demo similar to [here](https://aihabitat.org/docs/habitat-lab/habitat-lab-demo.html), there is an 'AttributeError: TYPE'.
[code]
I print some variables and find that the measurements are `['DISTANCE_TO_GOAL', 'SUCESS', 'SPL']` while`SUCESS` is not a key in the config dictionary.
## Steps to Repr

[2021-08-17 02:11] nightkidwyxc commented on #704
Sorry for delay reply. Thank you so for your suggestion. I  tried what you said and failed, but I found it might be because I am using virtual machine. Then I tried to build it on an Ubuntu machine, It works.

[2021-08-17 02:11] #704 closed

[2021-08-17 03:51] zxwang96 opened #710 "Question regarding the EpisodicGPSSensor's position data"
Hi,

I find the following code reverses the order of x and z in the simulation environment. I wonder why you do this? Thank you!
https://github.com/facebookresearch/habitat-lab/blob/9220a301c3b168f845150a3d2f20df8fc21f3842/habitat/tasks/nav/nav.py#L456

[2021-08-17 05:10] zhaozj89 commented on #708
Thanks. It seems that `libhdf5-dev` needs to be added to the Docker file. It works now.

[2021-08-17 05:10] #708 closed

[2021-08-17 15:05] erikwijmans commented on #710
This is just transforming the 3D coordinate system to the 2D coordinate system.  We use +x is forward and +y is right in 2D.

[2021-08-19 21:28] jadkins99 commented on #697
I also am getting the not orthogonal error. Any updates on this issue?

[2021-08-25 15:38] RobertHalwass opened #712 "Change of Agent_0 Config in PPO PointNav Baseline causes crash"
Is it possible to change the configuration (HFOV of sensors, POSITION of sensors, RADIUS, HEIGHT) of Agent_0 in the PointNav Baseline? When I try to change the base task config, either by altering the file itself or supplying it as a command line argument the program crashes.
I use:
habitat_baselines/config/pointnav/ppo_pointnav.yaml
configs/tasks/pointnav_gibson.yaml

This is the output:

[code]

[2021-08-26 18:59] zhangfuyang opened #714 "Find which region the agent is in"
Hi,
I have a question about how to get the current room label that the agent is in. I am working on the mp3d datatset. I noticed these two previous issues: #331 and [issue in habitat-sim](https://github.com/facebookresearch/habitat-sim/issues/830) addressing this problem. But I still couldn't make it work.

I wonder if I am doing the right thing.

[code]
Also, I find the z-axis of regions sizes ar

[2021-08-27 10:43] #712 closed, assigned to nobody

[2021-08-30 02:54] zhangfuyang commented on #714
I was using a very old version. Now I can get the correct room bounding box. Thank you!

[2021-08-30 02:54] #714 closed

[2021-09-01 10:48] RobertHalwass opened #716 "DD-PPO - RL BaseLine Visual Encoder Output Size"
I have a question regarding the output dimension of the visual encoder. There seems to be a discrepancy in the paper.
In the paper (page 15, Appendix C) it says:
`Given these modifications, each backbone produces a 1024x4x4 feature map. We then convert this to a 128x4x4 feature map with a 3x3-Conv.`

But on the next page (page 16) it says:

`Our navigation policy takes the 64x4x4 feature map from

[2021-09-01 14:49] dhruvbatra commented on #716
This repository is associated with a number of papers. I can't tell which paper you are talking about. Please email the first author directly (this isn't quite a question for github).

[2021-09-01 15:05] RobertHalwass commented on #716
Oh sorry, I should have mentioned the title of the paper.
My comment was in regards to "DD-PPO: Learning Near-Perfect PointGoal Navigators from 2.5 Billion Frames" (https://arxiv.org/abs/1911.00357), the source for the RL-baseline.
Since the author of the paper (Erik Wijmans) answered a question of mine here before and the question is in direct regard to a part of this repository, I felt it was ap

[2021-09-01 15:33] erikwijmans commented on #716
The second one is a typo, it's `128x4x4`

[2021-09-01 15:36] RobertHalwass commented on #716
I see, thanks.

[2021-09-01 15:36] #716 closed

[2021-09-02 05:00] quintus0505 opened #717 "Bug when running trainer.eval() in run.py"
I am using stable branch in habitat-lab. After I finished training my agent and trying to evaluate by using ```trainer.eval()``` in ```run.py```, I there was an err. I removed the original habitat conda-env and rebuilt it following the instructions in readme but still got the same problem :```BrokenPipeError: [Errno 32] Broken pipe``` in ```imageio-ffmpeg```

I managed to solve it so I didn't save

[2021-09-10 15:48] JiayunjieJYJ opened #718 "I can't run the quick start example"
## ❓ Questions and Help
I can run the QuickStart example.
There are so many dataset url for **gibson** dataset, as shown in the Readme.md: https://github.com/facebookresearch/habitat-lab#Gibson

I can't download the right **gibson** dataset so I can't run the quickstart, could you please tell my the exact download url of the  **gibson** dataset?

![image](https://user-images.githubusercontent.com/

[2021-09-10 15:49] JiayunjieJYJ commented on #718
I can't run the quick start example

[2021-09-10 15:51] JiayunjieJYJ commented on #718
Could you please tell me the exact download url of the gibson dataset which is 1.5GB and contains the '.glb' files?

[2021-09-10 16:13] dhruvbatra commented on #718
https://github.com/facebookresearch/habitat-sim/blob/master/DATASETS.md

[2021-09-10 16:13] #718 closed

[2021-09-13 09:43] JiayunjieJYJ opened #719 "Can Habitat handle multi-agent scenarios?"
## My purpose:
My purpose is to deal with the scene where multiple robots work together (such as multi-agent navigation, moving objects together, etc.), which requires:
1. Each robot can **see** other robots and other dynamic obstacles (such as randomly walking humans).
2. Each robot can **detect** whether it collides with other robots.
3. Robots can **communicate** with each other (the communicat

[2021-09-13 09:47] JiayunjieJYJ commented on #719
Can Habitat add multiple robots in a single common environment?

[2021-09-14 01:51] JiayunjieJYJ commented on #6
I have the same question, do you know how to create multi agent environment in habitat?

[2021-09-14 01:58] JiayunjieJYJ commented on #676
Thanks for your reply, there is a new issue which is my another question : [another issue](https://github.com/facebookresearch/habitat-lab/issues/719).

[2021-09-14 03:16] erikwijmans commented on #719
For questions 1 and 2, this is something that could be supported without a large undertaking, we support adding render and collision assets to agents as well as creating multiple agents, but the APIs to do this easily don't exist.

For the policy questions, questions 3 and 4, this would require a much larger undertaking as the training/policy code is quite single agent/single policy focused.

Whil

[2021-09-14 06:40] JiayunjieJYJ commented on #719
@erikwijmans
Thanks for your reply!
So you mean that all the above requirements can be implemented, but there is no API directly available to call, that is, I need to do more work based on the existing API (but it can be implemented in the end)?

[2021-09-14 16:23] Skylion007 commented on #719
There actually is some support on the Habitat-Sim side for multiple agents, but things like visualizing the other agents and handling collisions between agent is not compete there.

[2021-09-15 00:59] mathfac commented on #707
@mbgniuxya, thank you for reporting the issue. What is PyTorch version and installation you're using? Is that issue persistent. Can you try instructions from our challenge [setup here ](https://github.com/fairinternal/habitat-challenge/tree/challenge_2021#pointnavobjectnav-baselines-and-dd-ppo-training-starter-code)for training.

[2021-09-15 01:02] mathfac commented on #717
Thank you for the reporting the solution, @quintus0505. Will check if that replicates on our CI setup.

[2021-09-15 01:02] #717 closed

[2021-09-15 01:27] JiayunjieJYJ commented on #719
@Skylion007 Thanks! But as @erikwijmans said, '_For questions 1 and 2, this is something that could be supported without a large undertaking, we support adding render and collision assets to agents as well as creating multiple agents, but the APIs to do this easily don't exist.'_

Is it possible if I implement these functions using the existing APIs? Or these function can't be supported at all?

[2021-09-15 02:35] JiayunjieJYJ commented on #719
@erikwijmans Another question is that can I load URDF file (the robot description file widely used in ROS) and control it in Habitat ?

Thanks a lot for your patience!

[2021-09-15 06:19] mbgniuxya commented on #707
Thanks for your reply. I think the issue is here: https://github.com/facebookresearch/habitat-lab/blob/7a1605cd9d5b21a5c23dd91f2b9eecc6e760d4c4/habitat_baselines/rl/ddppo/policy/resnet_policy.py#L332
it seems the input size is calculated using width * width rather than height * width from config file. I manually changed it to fit the actual input size and it works now.

[2021-09-15 08:19] zsl13734413436 opened #722 "Can hatbitat support importing URDF models"
Can hatbitat support importing URDF models

[2021-09-15 16:01] aclegg3 commented on #722
Hey @zsl13734413436, Habitat does support URDF. See the tests starting [here](https://github.com/facebookresearch/habitat-sim/blob/e51d955eae7aea0ed6406e54d2cf071913c9e2a1/tests/test_physics.py#L638) for example code.

[2021-09-15 16:03] aclegg3 commented on #719
Yes, Habitat does support URDF. See python tests starting [here](https://github.com/facebookresearch/habitat-sim/blob/e51d955eae7aea0ed6406e54d2cf071913c9e2a1/tests/test_physics.py#L638) for example code. Also see [ManagedBulletArticulatedObject](https://aihabitat.org/docs/habitat-sim/habitat_sim.physics.ManagedBulletArticulatedObject.html) API reference.

[2021-09-15 16:03] #722 closed

[2021-09-16 03:12] JiayunjieJYJ commented on #719
Thanks a lot for your kindly reply!!! So for my requirement, the question turns to be this: by using the existing APIs, can I handle the questions I mentioned above:

Or these functions can't be implemented at all now?

That's very important for me because this will determine whether I need to study habitat in depth.

[2021-09-16 14:58] shuishida opened #723 "ImportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found"
Hello. I have installed the most recent version of habitat-lab from the master branch, and installed habitat-sim via the headless option
`conda install habitat-sim withbullet headless -c conda-forge -c aihabitat`

I am trying to run the DD-PPO training script indicated here: https://github.com/facebookresearch/habitat-challenge#pointnavobjectnav-baselines-and-dd-ppo-training-starter-code

When I t

[2021-09-16 15:45] aclegg3 commented on #719
Your points 1-3 could be implemented with Habitat-sim using existing APIs.

Regarding (4): This sounds like a learning API for simultaneous inference and training of multiple distinct policies within the same environment. While I believe you could implement such a system, it is not currently implemented within Habitat-lab and you would need to design it.

[2021-09-16 23:49] sparisi opened #726 "NavRLEnv: question about 'success' and 'get_action_shortest_path'"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: master

I have a navigation task, and in the YAML I add have `SUCCESS` as `MEASUREMENTS`. `SUCCESS_REWARD` is 2.5 and `SUCCESS_DISTANCE` is 0.2.
I run `get_action_shortest_path` with `success_distance=env.unwrapped._core_env_config.TASK.SUCCESS_DISTANCE` (0.2) to find the optimal trajectory (the functoin finds a 51-step traje

[2021-09-17 00:21] erikwijmans commented on #723
Conda ships its own libstdc.  Doing `ls ${CONDA_PREFIX}/lib | grep stdc` should show it. That should also get picked up automatically, but you can add `export LD_LIBRARY_PATH=${CONDA_PREFIX}/lib:${LD_LIBRARY_PATH}` to help things out.

[2021-09-17 09:19] shuishida commented on #723
Wow, you are amazing!! Adding the latter solved it! Thank you so much!!

[2021-09-17 09:19] #723 closed

[2021-09-17 18:33] #709 closed

[2021-09-18 00:01] sparisi commented on #726
The reason why 'success' is always 0 and the environment doesn't return 'success_reward' at goal is that this happens only [if the action 'STOP' is passed](https://github.com/facebookresearch/habitat-lab/blob/aa96b33b0cba4f227b8e70b9f965795e5457d676/habitat/tasks/nav/nav.py#L543). This action is not returned by `get_action_shortest_path`.
For my purpose, I do not use 'STOP' actions, and I'd like t

[2021-09-18 02:24] JiayunjieJYJ commented on #719
Thanks!! Nice to hear that!

[2021-09-18 02:24] #719 closed

[2021-09-18 21:37] RobertHalwass opened #727 "DD-PPO RL Baseline - Visual Input Size Not 256x256"
I was wondering what exactly happens, when the input size of RGB and/or Depth Sensor is not equal to 256x256. I tried it with 400x300 and the program didn’t raise any errors and training seemed to work. What kind of transform is applied? I wasn’t able to find a direct answer by looking through the code. Is it a Center Crop (like CenterCropper from the Batch Obs Transforms) or does it stretch the i

[2021-09-19 13:56] NickLucche opened #728 "opt/conda/bin/conda not found when building Dockerfile"
## 🚀 Feature
As title, I run into this error when building from Dockerfile; apparently it's caused by curl missing the "follow redirects" flag and thus not installing conda. Solution is to append the -L flag to curl as described in this answer https://stackoverflow.com/a/63367463 to a related problem.

## Pitch
`curl -o ~/miniconda.sh -O  https://repo.continuum.io/miniconda/Miniconda3-latest-Linux

[2021-09-20 03:06] dhruvbatra commented on #728
Thanks for pointing this out. Would you mind sending us a PR?

[2021-09-20 15:17] erikwijmans commented on #726
No, we currently don't support not having a stop action given its importance in EmbodiedAI tasks (a task like ObjectNav would be much less meaningful without a stop action for instance).

[2021-09-20 15:19] Skylion007 commented on #726
You could, however, have an oracle that calls STOP when a condition is reached though. This usually would require hard coding this into the agent with privileged information.

[2021-09-20 16:30] sparisi commented on #726
I think it would be easier to check for terminal condition without 'STOP' and then call reset. Anyway yes, I would have to hard code SPL success condition into my wrapper.
For now I simply have commented the check for 'STOP' in the source code and it works.

It would still be useful to simply have a flag to remove the need for `is_stop_called` in `Success` (something like `is_stop_required`). Just

[2021-09-24 07:50] Jaekyung-Cho commented on #692
I have same problem.

my system configuration is following
Ubuntu 18.04
python 3.6.13
os type 64-bit

[2021-09-27 01:04] yhymason opened #735 "How to train an agent that navigates to a set of possible goal locations"
Hi there, I am planning to train my own embodied agent using Habitat-lab and Habitat-sim. However, I have a few questions before I start:
1, Are there any good examples/tutorials for agent-training using the Habitat framework?
2, How can I formulate the training data and configs so that the agent can learn to navigate to one of the possible goal locations in a scene instead of just one fixed goal

[2021-09-27 11:27] sparisi opened #736 "How to pass STOP to the rearrange task"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

## ❓ Questions and Help
According to the paper, the STOP action is needed to end the episode and get the success reward in the rearrange task. However, the task action space accepts only ARM_ACTION with kwargs 'arm_action' and 'grip_action'. I tried passing STOP in many ways, but I always get an error.
How do I tell

[2021-09-27 19:57] dhruvbatra commented on #735
https://aihabitat.org/tutorial/2020/

[2021-09-27 19:57] #735 closed

[2021-09-27 20:20] yhymason commented on #735
@dhruvbatra thanks for replying, I have seen this tutorial before but it seems not to cover setting up the training process directly. Also, I don't think it covers my second question from above. Can you provide additional guidance?

[2021-09-28 16:31] erikwijmans commented on #735
The habitat_baselines folder contains examples of training with habitat. https://github.com/facebookresearch/habitat-lab/tree/master/habitat_baselines/rl/ppo is likely a good place to start.

For the second ask, that is entirely possible to do, but not without code changes as we currently don't have support for pointnav with more than 1 goal implemented.

[2021-09-28 16:40] mihdalal opened #737 "Habitat 2.0 Base Velocity Control Errors Out in example code"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1 or master?

Habitat-Sim: v0.2.1 or master?

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already b

[2021-09-28 18:47] mihdalal opened #738 "Habitat 2.0 ArmEEAction Does not run"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already be fixed in the latest

[2021-09-28 21:52] dhruvbatra commented on #738
CC: @ASzot

[2021-09-28 22:07] yhymason commented on #735
@erikwijmans thanks for the additional suggestions! And yes!, I am also thinking about refactoring/inheriting some of the existing classes under habitat-lab to make the training work with multiple goal locations. However, it is not very clear to me which classes I should make changes to. So far I can only think of the embodied task class, but what else am I missing?

[2021-09-30 19:05] erikwijmans commented on #735
You'll need to make changes to the DistanceToGoal measure and the PointGoal sensor (https://github.com/facebookresearch/habitat-lab/blob/master/habitat/tasks/nav/nav.py). You'll need to make changes to the training code if the number of goals isn't constant/can't be padded to be constant.

[2021-10-01 12:55] JiayunjieJYJ opened #742 "TypeError: can't assign a numpy.ndarray to a torch.ByteTensor"
## Habitat-Lab and Habitat-Sim versions
habitat                 0.2.1
habitat-sim             0.2.1

## ❓ Questions and Help
### I have questions when I run the [habitat baseline](https://github.com/facebookresearch/habitat-lab/tree/master/habitat_baselines), after I download the [test dataset ](http://dl.fbaipublicfiles.com/habitat/habitat-test-scenes.zip) and unzip it correctly and I run this co

[2021-10-06 03:28] JiayunjieJYJ commented on #742
I dont know what dependency is wrong.

[2021-10-07 02:35] #742 closed

[2021-10-07 12:38] JiayunjieJYJ commented on #742
@erikwijmans Hi, do you mean I need to run the baseline on a GPU then I can avoid the problem?

[2021-10-08 12:46] zhengzaiyi opened #747 "'Connection' object has no attribute '__getstate__'"
To make it simple, I didn't modify the code in this repo and I was running pointnav task using `ppo_pointnav.yaml`. The conda environment was newly created. All modules were installed according to `Readme.md`. However, the following error occurred while initializing the environment:
![图片](https://user-images.githubusercontent.com/44119778/136557926-6e334547-f190-4833-b617-77b7ee26ef5d.png)
[code]

[2021-10-08 21:54] erikwijmans commented on #747
I haven't seen that before, my guess is that it's something related to VSCode's debugger

[2021-10-13 12:27] Wangnaijia commented on #621
I've met the same question, have you solve this?

[2021-10-14 06:05] emigmo opened #749 "Missing hab_fetch.urdf file?"
## Habitat-Lab and Habitat-Sim versions
Both Habitat-Lab and Habitat-Sim are master.

Perhaps your question is answered there. If not, carry on!

## ❓ Questions and Help
The robot description file of fetch within habitation-sim is missing?
In the rearrange task, the hab_fetch.urdf file is defined in the rearrangepick_replica_cad.yaml
I can not find it.

[2021-10-14 14:26] aclegg3 commented on #749
Hey @emigmo,
You'll need to download the rearrange asset files. You can do so automatically with the [datasets_downloader](https://github.com/facebookresearch/habitat-sim/blob/b45d800b0b99ae52486732f8676f6c27e42cfc8f/habitat_sim/utils/datasets_download.py#L194) from habitat-sim.

For example:
[code]

[2021-10-14 19:05] ASzot commented on #738
Do you have pybullet installed? I believe that's the issue here.

[2021-10-15 01:36] #749 closed, assigned to nobody

[2021-10-19 05:20] yhymason opened #752 "Depth sensor readings, depth sensor range, and point cloud"
Hi there, I have a few questions regarding the depth camera in Habitat-lab:
1, I am using depth images and open3d's interfaces as following to create point cloud objects:
`
depth_img = o3d.geometry.Image(depth_as_np)
fx = camera_info_k[0][0]
fy = camera_info_k[1][1]
cx = camera_info_k[0][2]
cy = camera_info_k[1][2]
camera_intrinsic = o3d.camera.PinholeCameraIntrinsic(
     camera_info.width, camer

[2021-10-20 01:14] erikwijmans commented on #752
I'm not familiar with Open3D, but `depth_scale=1000.0` seems odd. Habitat-lab outputs depth in `[0,1]` by default where a value of 1 represents something 10m away, so maybe depth_scale=10.0?

2. Not sure where that source image is from, but it looks like it's from a real camera. A simulate camera (without a noise model) will be perfect and things will be very regular.

[2021-10-21 01:06] nilgsr opened #753 "Image warp for non square images"
Hi,
I am trying to perform image warp, based off this example [https://aihabitat.org/docs/habitat-lab/view-transform-warp.html](url)
However, it works for square images only.
My images are of size W = 400, H = 160., HFOV = 85 deg
I made the following changes to the code
[code]
However, the warping looks error ridden. Please help.

[2021-10-21 02:16] erikwijmans commented on #753
[code]
should be
[code]

[2021-10-21 10:36] yhymason commented on #735
@erikwijmans hi Erik, sorry for following up after so many days, as you might remember, I was working on generating point clouds using depth images in habitat sim. Now I finally have time to revisit this side of work. As you suggested, I looked into nav.py. I see that DistanceToGoal measure already has the following logic:
`    def update_metric(
        self, episode: NavigationEpisode, *args: An

[2021-10-21 14:26] #753 closed, assigned to nobody

[2021-10-25 00:30] apoorvkh opened #754 "Reduce Habitat memory usage"
Hi. I am training an ObjectNav model on an 8 GPU system (with 20 simulators per GPU, as to saturate GPU memory). I am only at 30-50% utilization per CPU core, but am noticing that Habitat uses a very large amount of system memory (e.g. 500 GB and growing during training). I have a lesser amount of RAM (~400 GB), so I have added swap space as a quick fix. But I am seeing a 30-50% performance drop b

[2021-10-26 00:48] yhymason opened #755 "How to set up training script for a multiple-goal point navigation agent"
Hi there, I have previously asked some follow-up questions under [this issue](https://github.com/facebookresearch/habitat-lab/issues/735#issuecomment-931587863) and hope to get some replies.

In summary, I want to confirm if my modifications to the classes under `nav.py` are enough. Additionally, I wonder if I should make changes to the example config used in `Habitat-Lab for Navigation` listed [i

[2021-10-26 15:17] #755 closed, assigned to nobody

[2021-10-30 20:22] yhymason opened #756 "From camera frame to world frame using habitat.utils.geometry_utils"
Hi there, I am trying to convert coordinates of point cloud coordinates which are initially in the depth camera's coordinate frame back to the simulator's world frame. I am not sure what's the correct way to do it here since I am not familiar with the use of quaternions in Habitat.
I have the following 2 transformation logic:
[code]
or
[code]
where `depth_camera_rot` is the quaternion of the depth

[2021-11-02 02:09] yhymason opened #757 "Generalization of the tutorial code"
Hi there, I have been reading through the Habitat 2020 tutorials. I tried the tutorial's code and ran
[code]
it only seemed to train one iteration/episode according to `ppo_trainer.py`, how should I formulate the code to train on all scenes and all episodes for mp3d datasets? Are there any fully implemented examples I can refer to?

[2021-11-02 15:16] erikwijmans commented on #735
As shown in the tutorial, there is a `config.TOTAL_NUM_STEPS` field that determines the total number of steps of experience to train for. Setting that to something very large, i.e. `1e8`, will cause it it train more.

[2021-11-02 15:18] erikwijmans commented on #757
Answered in https://github.com/facebookresearch/habitat-lab/issues/735#issuecomment-957798783

[2021-11-02 15:18] #757 closed

[2021-11-02 15:24] erikwijmans commented on #756
Rotation + translation works the same with quaternions and matrices. First apply the rotation then apply the translation.

To create the quaternion from a list, please use `habitat.utils.geometry_utils.quaternion_from_coeff` as there are different ways to store the coefficients of a quaternion and that'll make sure it's consistent.

[2021-11-02 22:14] yhymason commented on #735
@erikwijmans Thanks Erik, can I confirm how `config.TOTAL_NUM_STEPS` relates to training over all episodes? say I have scene A with a total of 80k episodes, should I set `config.TOTAL_NUM_STEPS` to at least 80k * 500 to make the training process cover all possible episodes?

[2021-11-03 07:03] yhymason commented on #735
@erikwijmans I looked further and found inside config:
[code]
Can you explain the relationship between `config.TOTAL_NUM_STEPS` and `MAX_EPISODE_STEPS: 500`, and how many steps will each episode run?

[2021-11-03 21:11] erikwijmans commented on #735
In general, we don't track the number of episodes scene during training. We haven't found number of episodes trained on to be a meaningful way to measure the amount of training since episodes can have a variable number of steps in them.

But yes, if you set TOTAL_NUM_STEPS to something greater than the number of episodes times the maximum episode length you will see all episodes at least once.

[2021-11-05 17:07] Yash621 commented on #489
@Skylion007 can I work on this ?

[2021-11-05 17:09] Yash621 commented on #488
@Skylion007 can I work on this ?

[2021-11-05 17:10] Yash621 commented on #205
@erikwijmans  can I work on this ?

[2021-11-05 17:11] Yash621 commented on #140
@mathfac can I work on this ?

[2021-11-05 17:13] Yash621 commented on #24
@mathfac can I work on this ?

[2021-11-05 17:13] Yash621 commented on #14
@mathfac can I work on this ?

[2021-11-06 15:52] erikwijmans commented on #140
This has already been done and should have been closed.

[2021-11-06 15:52] #140 closed

[2021-11-10 05:45] mathfac commented on #24
Yes, sure.
On Fri, Nov 5, 2021 at 10:13 AM Yash Goel ***@***.***> wrote:

[2021-11-13 01:41] mercury55555 opened #758 "Invalid type error in example.py"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1
Habitat-Sim: v0.2.0

## 🐛 Bug

When you try to run `example.py` you will get the following error:
`
➜  habitat-lab git:(bc85d09) ✗ python examples/example.py
Traceback (most recent call last):
  File "examples/example.py", line 7, in <module>
    import habitat
  File "/Users/erockla/workspace/ml/ashwini/habitat-lab/habitat/__init__.py",

[2021-11-13 11:48] Stefuniverse commented on #692
Hi,
we are using this repo for a project at university and one of my project partners found, that you can start the example by installing an earlier pygame version.

`pip install pygame==1.9.6`

I am not sure, if this could be a final solution for this issue, because I am not sure of the implications of using this earlier version but it can at least be a workaround for you.

[2021-11-13 14:03] nicolaischneider opened #759 "Not capable of running example files in Habitat-Lab"
## Not capable of running example files in Habitat-Lab
Habitat-Lab: v0.2.1
Habitat-Sim: v0.2.0
Machine: OSX 12.0.1 (macOS Monterey)

I just installed both habitat-sim and -lab on my machine as described in the instructions. I was capable of running all tests described in the habitat-sim README, however, when it came to running the example files from habitat-lab I started running into issues. Each

[2021-11-15 17:16] guhur opened #760 "Obstacles avoidance in ReplicaCAD"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1
Habitat-Sim: v0,2,1

## ❓ Questions and Help
In ReplicaCAD, I can't figure out how to find a path that avoids movable objects.

I am loading my simulator as in `ReplicaCAD_quickstart.ipynb`, and then, I created a NavMesh as is:

[code]

I am finally computing the shortest path between two points with a call to `path = habitat_sim.Shortest

[2021-11-15 17:55] aclegg3 commented on #760
Hey @guhur,

The NavMesh in Habitat is primarily designed for static object avoidance. This is why only objects with [`MotionType::STATIC`](https://aihabitat.org/docs/habitat-sim/habitat_sim.physics.html#MotionType-STATIC) are optionally included in [`Simulator.recompute_navmesh()`](https://aihabitat.org/docs/habitat-sim/habitat_sim.simulator.Simulator.html#recompute_navmesh). If you don't intend

[2021-11-15 18:19] guhur commented on #760
Hello,
Thanks for your detailed answer!

[2021-11-15 18:19] #760 closed

[2021-11-16 13:12] guhur commented on #670
I'd like to re-open this issue (examples 1 and 2 fail with the same issue, not example 3). I am exactly on the same situation than @Jiayuan-Gu but I am not using `headless`. I have tested so far on master and last stable releases, while paying attention to cleaning previous installations. I am going to try on another machine.

[2021-11-16 16:09] guhur opened #761 "Can we replay a rearrangement episode?"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: hab_suite
Habitat-Sim: v0.2.1

## ❓ Questions and Help

I would like to visualize an episode of rearrangement.

It is stored in a PDDL format, composed of base navigation and arm movements. In my understanding, the base navigation can be played by a `ShortestPathFollower`, while the arm movements can be computed from IK.
So, I think that display

[2021-11-16 16:13] aclegg3 commented on #761
I think this is a question for @ASzot. At a high level, if you have base positions and arm movements it should be fairly straightforward to play them back, but I don't know if we have any existing utilities for this or what format they might expect.

[2021-11-18 03:40] ASzot commented on #670
@guhur is this still an issue on another machine? Can you also see if this works with the non-nightly build that Erik posted the installation instruction for above?

[2021-11-18 03:44] ASzot commented on #761
There are no existing utilities for this. However, I agree with Alex that this will be straightforward to achieve. You can use the IK actions to set the arm joints from the desired end-effector position:
* See end-effector control action here: https://github.com/facebookresearch/habitat-lab/blob/9bb7429d3618b0da4c2df50a2c3a2fdd6bd3b5b0/habitat/tasks/rearrange/actions.py#L313
* See it in use in the

[2021-11-18 17:14] guhur commented on #761
Thanks! I will try to implement it and coming back to you.

[2021-11-18 17:14] #761 closed

[2021-11-18 22:12] dhruvbatra commented on #761
@guhur -- sounds great. Feel free to send us a PR if you do implement this.

[2021-11-19 11:21] guhur commented on #692
@Stefuniverse's  solution is working for me! Thanks

[2021-11-19 11:22] guhur commented on #670
Hi @ASzot yes it is working with latest version. I removed `habitat-lab` and `habitat-sim`, and re-do the install from source.

[2021-11-19 15:57] guhur commented on #738
I think you just ot load the URDF as in `examples/interactive_play.py`:

[code]

[2021-11-19 16:11] guhur opened #763 "How does ArmEEAction work?"
## Habitat-Lab and Habitat-Sim versions

- Habitat-Lab: hab_suite
- Habitat-Sim: v0.2.1

## ❓ Questions and Help

Drawing inspirations from `examples/interactive_play.py`, I am trying to control the robot arm such that it reaches its target.

The control of the arm acts very differently than the example, and I am quite confused about.

Here is my minimum reproducible example:

[code]

The first vi

[2021-11-29 12:50] lukasmajer commented on #697
I am still encountering this problem.

[2021-12-01 14:20] hpf9017 commented on #700
same problem

[2021-12-02 12:13] yhymason opened #765 "trainer crashed after adding my customised point goal sensor"
I have been trying to train an agent that could:
Given a set of goals `S`, navigates to any goal `s_i` in `S`.
As suggested in [this issue]( https://github.com/facebookresearch/habitat-lab/issues/735#issuecomment-928222295)
I have added the following to `nav.py`
[code]
And I reused training episodes under mp3d datasets with goals set to multiple locations instead of one single position.

Here is h

[2021-12-02 20:55] erikwijmans commented on #765
[code]
The distance_to_goal, spl, and reward indicate that one of the training examples has no possible path for the agent. That is causing the crash.

[2021-12-02 21:57] yhymason commented on #765
@erikwijmans thanks for pointing that out, it does make sense. Is there a way I could resume training without resetting everything that's already there? If I rerun the same trainer with the same config, will it just load existing checkpoints and continue from there?

[2021-12-02 21:57] yhymason commented on #765
Also, would you please tell me what these params do exactly?
[code]

[2021-12-03 17:57] yhymason commented on #765
@erikwijmans would you please help? are there any existing examples of handling such crashes and resume training?

[2021-12-06 03:56] erikwijmans commented on #205
Yep! Feel free to.

[2021-12-06 16:19] yimengli46 commented on #432
Hi, I'm wondering if you can get the semantic observations from Gibson?

[2021-12-06 19:47] yhymason commented on #765
@erikwijmans @alexholdenmiller can anyone help, please?

[2021-12-06 21:57] erikwijmans commented on #765
We do have resume functionality in the latest versions. There's a `.habitat-resume-state.pth` that gets saved out to the checkpoint directory. If that exists training will restart from whatever is in that state if you just set the checkpoint location to be the same. Otherwise we don't directly support resuming as we don't save everything needed to do so in checkpoints to keep checkpoints from usin

[2021-12-06 23:18] dhruvbatra commented on #432
https://github.com/facebookresearch/habitat-sim/issues/1080

[2021-12-07 02:19] yhymason commented on #765
@erikwijmans thanks for your time and clarifications. Is there a way that in my own code I can ignore such crashes and just let the training continue? otherwise, I can only see the solution be manually monitoring the training run and resume it every time it crashes.  I am thinking about adding a `try catch` clause around the `trainer.train()` call. Do you think this would work?

[2021-12-07 07:59] yhymason commented on #765
I guess the real question here when FAIR trained the model, how did you folks handle such crashes and resumed training?

[2021-12-07 09:12] yhymason opened #766 "Trainer crashed when training a fresh PPO agent on mp3d validation set"
Hi there,

As a part of the debugging efforts towards the issues I encountered in [this post](https://github.com/facebookresearch/habitat-lab/issues/765). I have tried to set up a trainer using the mp3d validation dataset with the following configs:
ppo_pointnav.yaml:
[code]
pointnav_rgbd_mp3d_validation_scenes.yaml:
[code]
and Python script to launch training:
[code]

The trainer seems to load as

[2021-12-07 09:14] yhymason commented on #766
Does anyone have ideas about what's going on here?

[2021-12-07 09:58] yhymason commented on #766
Training with training set seems to work fine.

[2021-12-07 12:02] yhymason commented on #765
Also, I wonder if there's a util function in Habitat-lab that I can use to check whether there's a valid path between two positions in a given scene. Maybe I can use it to filter out unusable goal locations.

[2021-12-07 17:59] dhruvbatra commented on #765
Sorry, that is beyond the level of support we can provide.

Please go through navigation tutorials: https://aihabitat.org/tutorial/2020/

[2021-12-07 17:59] #765 closed

[2021-12-08 06:25] yhymason commented on #765
@dhruvbatra @erikwijmans I have managed to use the sim's `_is_navigable` function and the pathfinder class to filter out all the invalid goal positions in my training data. Thanks for the help.

However, the trainer crashed on EOF error after training for a while. The stack trace is as follows:
[code]
What does the error mean? How do I avoid it? Please help.

[2021-12-08 06:27] yhymason commented on #765
My current configs are:
[code]
and
[code]

[2021-12-08 17:45] erikwijmans commented on #766
The default number of environments is 16, which is likely uses too much GPU or system memory causes a crash. Trying set `NUM_ENVIRONMENTS` to something like 4 in the hab baselines config.

[2021-12-08 17:45] #766 closed

[2021-12-10 06:34] yhymason opened #768 "Collecting metrics during training"
Hi,

I wonder how to collect metrics such as SPL, reward, success during the training process? Basically I want to save metrics from each update
[code]
so I can visualize them later.

Is there an existing way I can configure the trainer to do this? Or is there an option I can set in the config yaml files?

[2021-12-11 08:05] yhymason commented on #768
ah I found a `train.log` file in my local directory, I believe the trainer outputs the logs to this file by default.

[2021-12-11 08:05] #768 closed

[2021-12-14 15:40] ASzot commented on #759
Hello, thanks for reaching out. Your issue should now be fixed on the most recent version.

The `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with

[2021-12-14 15:42] ASzot commented on #738
By the way, this issue should now be resolved on `main`.

Also, the `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with Habitat 2.0.

Please let me

[2021-12-14 15:43] ASzot commented on #737
Hello, thanks for reaching out. Your issue should now be fixed on the most recent version.

The `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with

[2021-12-14 15:47] ASzot commented on #736
In the Habitat 2.0 paper, each skill had a custom termination condition. For example, for the Pick skill this was based on if the end-effector was at the resting position with an object grasped. However, the stop discrete action can easily be added to the action space through the `POSSIBLE_ACTIONS` key in the task config ([example](https://github.com/facebookresearch/habitat-lab/blob/hab_suite/con

[2021-12-14 15:58] ASzot commented on #698
The possible achievable EE positions are defined [here](https://github.com/facebookresearch/habitat-lab/blob/11f23e9ad89b9f018d22256b0e5f71d63fb0e975/habitat/tasks/rearrange/actions.py#L329).

Also, the `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearc

[2021-12-14 15:58] ASzot commented on #697
This issue should now be resolved in `main`.

Also, the `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with Habitat 2.0.

Please let me know if you

[2021-12-14 15:59] ASzot commented on #700
Hello, thanks for reaching out. Your issue should now be fixed on the most recent version.

The `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with

[2021-12-14 16:01] ASzot commented on #696
This issue should now be resolved on `main`.

Also, the `hab_suite` branch now contains most of the functionality from the paper and we are slowly merging this into `main`. We made [this tutorial](https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/hab_suite/examples/tutorials/colabs/Habitat2_Quickstart.ipynb) to help get started with Habitat 2.0.

Please let me know if you

[2021-12-14 19:10] sparisi commented on #736
@ASzot
Thanks for your reply, I will check the tutorial!
Just to double check: the task does not require `STOP` to terminate, right?
The YAMLs I see all only have `ARM_ACTION` in `POSSIBLE_ACTIONS`, and this does not allow to pass `STOP`. Also, the [nav task](https://github.com/facebookresearch/habitat-lab/blob/hab_suite/habitat/tasks/nav/nav.py) explicitly checks for `STOP`, while [the rearrange

[2021-12-14 19:16] sparisi commented on #736
@ASzot
Thanks for your reply, I will check the tutorial!
I think I also got confused because the paper says that only 'Navigate' --and not any 'Rearrange'-- needs `STOP` to terminate.

[2021-12-14 19:16] #736 closed

[2021-12-15 00:32] mihdalal commented on #738
I just tried the hab_suite branch and it seems to have the same issue, specifically self._sim.ik_helper is None

[2021-12-15 00:38] ASzot commented on #738
That is surprising. I just tried and it works for me. Here is the exact command I ran ` python examples/interactive_play.py --play-task --never-end --add-ik`, does that exact command work for you? I think you are still somehow using an old interactive play script since it should also print an error when PyBullet is not configured. Below is are the outputs I see for a fresh install:

![Screen Shot

[2021-12-15 00:39] mihdalal commented on #737
I am still getting the same error even after having updated to the most recent branch. Can you try running the same test and let me know what you observe?

[2021-12-15 00:46] ASzot commented on #737
This works fine for me. The example now loads the config file `configs/tasks/rearrange/pick.yaml`. I modified this config with the action space you describe above and it runs without an issue. Can you send the exact config file you are using? Can you also confirm you are on the `hab_suite` branch of Habitat Lab by checking that `example/example.py` uses the `configs/tasks/rearrange/pick.yaml` conf

[2021-12-15 00:51] mihdalal commented on #738
Okay using your command things seem to be working now: I was running `python examples/example.py` and that does not seem to work. I am assuming that things work in this new script due to `--add-ik` flag.

[2021-12-15 01:04] mihdalal commented on #737
Okay for this one: it works on `hab_suite` and does not work on `main` just yet.

[2021-12-15 05:28] ASzot commented on #737
Yeah, it is best to only use `hab_suite` until things are fully merged into `main`.

[2021-12-15 22:36] moyutianque opened #775 "Confusion about simulation device"
Hi thanks for the great project.

Which part does the simulator use the GPU device, get_observation, step, or other functions?
I set 16 envs in VectorEnv and stepped the agent in a navigation task with ground truth action sequences. But I could not observe the GPU was actively computing.

I do not use the RGB and Depth sensor but only use the topdown map and detect collision in the simulator.

Is

[2021-12-16 18:18] erikwijmans commented on #775
Only rendering uses the GPU, so if you aren't rendering out Depth/RGB/Semantics the GPU won't be used. Computing the top-down map can be pretty CPU intensive -- the cost to compute it grows linearly with the number of pixels in it.

[2021-12-16 18:18] #775 closed

[2021-12-16 20:32] sparisi opened #777 "Wrong paths"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: hab_suide

Habitat-Sim: master

I am trying to run the pick tasks, but the [YAML](https://github.com/facebookresearch/habitat-lab/blob/hab_suite/configs/tasks/rearrange/pick.yaml) file points to a missing file. The file is in the `DATA_PATH` JSON
[code]
When I launch my experiments, the dataset is automatically downloaded by habitat, and the onl

[2021-12-16 21:22] moyutianque commented on #775
Thanks!

[2021-12-18 05:10] ASzot commented on #777
The most recent version of Habitat Sim should download the correct files. Can you install the most recent version of the Habitat Sim `main` branch? And then run the following to force download the assets:
[code]
I just installed from scratch and it worked fine for me.

[2021-12-18 16:52] sparisi commented on #777
I installed the latest with
`conda install -c aihabitat-nightly habitat-sim`
and ran your code. It downloaded that were missing (I guess, because if I run it a second time it asks me if I want to replace already existing file, while the first time I didn't get this prompt). However, I still get
[code]

I would rather not to reinstall it from scratch, since I am currently using Habitat for other ex

[2021-12-20 16:23] umerhasan17 opened #778 "Unexpected training issues: AttributeError: 'NoneType' object has no attribute 'BytesIO'"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.1.5

Habitat-Sim: v0.1.6

## ❓ Questions and Help

When I am training experiments on habitat lab, I often get unexpected breakages during training (at seemingly random points throughout the training). The error is pasted below. I believe the reason for this might be insufficient resources since
- one time I ran another process and this error

[2021-12-22 03:18] yuecao1997 opened #779 "Tutorial "Habitat-Lab for Interaction" Colab not found"
## ❓ Questions and Help
Hello,
I tried to access the Colab for section: "Habitat-Lab for Interaction" on your tutorial page https://aihabitat.org/tutorial/2020/,
but the Colab link https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/master/examples/tutorials/colabs/Habitat_Interactive_Tasks.ipynb seems to be invaild cause the file dose not exist anymore.

Please let me how c

[2021-12-28 06:30] yhymason opened #780 "How to load a locally trained agent"
Hi there, I have followed the tutorial https://aihabitat.org/tutorial/2020/ and trained a PPO agent locally. I wonder how I can specify the trained agent in my config files so that I can run evaluations on my agent.

[2021-12-28 06:43] mathfac commented on #780
Hi,
Just change run type to eval and make sure it’s loading the checkpoint you
want to evaluate in the config:

‘python -u habitat_baselines/run.py --exp-config
habitat_baselines/config/pointnav/ppo_pointnav_example.yaml --run-type eval’

On Mon, Dec 27, 2021 at 10:30 PM Haoyu Yang ***@***.***>
wrote:

[2021-12-29 09:10] yyf17 opened #781 "How to enable two agents to independently obtain their own observations (they have their own RGB sensor and their own Depth sensor respectively)"
How to enable two agents to independently obtain their own observations (they have their own RGB sensor and their own Depth sensor respectively)?
![image](https://user-images.githubusercontent.com/34536352/147645692-80b0f5f4-6c5f-41db-8224-d8de1227621f.png)

[2022-01-04 09:23] yhymason commented on #780
@mathfac thanks for the reply, I tried using my checkpoint file generated by the trainer(e.g. `new_checkpoints/ckpt.99.pth). However I got the following error:
[code]
Any idea why?

[2022-01-04 17:14] aclegg3 commented on #781
Hey @yyf17,

This shouldn't be too tough to accomplish. You are able to create multiple agents and attach distinct sensors to each. Once the scene and agents are initialized you can manually compute and query sensor observations for any agent/sensor independently from the others. See how we do so in [this interactive viewer example](https://github.com/facebookresearch/habitat-sim/blob/11254eb05c79

[2022-01-05 02:55] yyf17 commented on #781
@aclegg3 Thank you.

[2022-01-06 04:46] yhymason commented on #780
@erikwijmans would you please take a look as well?

[2022-01-07 18:00] rothn commented on #534
Perhaps this refers to removing the 1.x version lock for tensorflow. It seems like this might not be needed in this case, since tensorflow is only needed for tensorboard and not used directly.

[2022-01-07 19:15] erikwijmans commented on #534
This should have been closed with #740 since that PR removed the tensor flow dependency.

[2022-01-07 19:15] #534 closed

[2022-01-09 09:17] zwy020450 opened #788 "How do I get the semantic class picture not instance segementation picture for Replica dataset"
## How do I get the semantic class picture not  instance segementation picture  for Replica dataset
When i run the example.py, I can get some picture of instance segementation for the replica dataset. But  it troubles me when I want to  get the semantic class pictures which the same class objects have the same color. Can I get some help about this?

[2022-01-20 13:39] TopCoder2K opened #796 "Why does VQA model evaluation fall into an infinite loop?"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1 (stable)

Habitat-Sim: v0.2.1

## ❓ Questions and Help
Why does `habitat_baselines.utils.common.poll_checkpoint_folder` return `None` when it has passed all the checkpoints? With `None` is returned, `BaseTrainer.eval()` falls into infinite loop. Is this the expected behavior?
Or maybe `habitat_baselines/config/eqa/il_vqa.yaml` should cont

[2022-01-24 07:34] TopCoder2K commented on #796
Also, I have an error when evaluating the nav module with `python -u habitat_baselines/run.py --exp-config habitat_baselines/config/eqa/il_pacman_nav.yaml --run-type eval`:
[code]
It seems it's because of
[code]
When I installed `moviepy=1.0.1` the error seems to have disappeared.

[2022-01-29 03:52] mhfy6868 commented on #788
Hi, you can try the following code:

            elif img_type == 'truth':
                img = img.numpy()

                out = np.zeros(img.shape+(3,),dtype=np.uint8)
                labels = np.unique(img)

                for label in labels:
                    mask = (img == label).nonzero()
                    color = colour_code[label]*256
                    out[mask] = color

[2022-02-01 15:57] dhruvbatra commented on #796
CC: @mukulkhanna

[2022-02-01 19:13] mathfac commented on #796
@TopCoder2K
0. EQA IL part is contributed/maintained by @mukulkhanna. It may be slightly outdated from recent changes/libraries appeared as we have no Matterport3D scenes on Continuous Integration  machines to test this part of the code.

1. Correct, that is most common use-case, when val curve has to be created during the training, but without pausing training itself. Would you mind to send a PR

[2022-02-01 20:15] TopCoder2K commented on #796
@mathfac
Thank you for the detailed response!

1. Hmm, the [README.md](https://github.com/facebookresearch/habitat-lab/blob/main/habitat_baselines/il/README.md) looks really good, so maybe it's enough to be here in the issues. Or maybe it's worth adding a footnote to the 'Eval' section. What do you think?
2. Then I also want to ask if you have encountered the problem of missing `Cython`, `pkgconfi

[2022-02-02 18:29] tekinengin opened #800 "Sensor update_metric slowing down training."
Habitat-Lab: v0.1.6
Habitat-Sim: v0.1.6

I am working on a project that i need have some custom sensors defined. One of the sensors is affecting the the running time a lot therefore i need some speed up. Sensor update_metric method contains a function call that takes about 30ms on machine and i need to make this function call varying amount time per update_metric call. As you can imagine it takes

[2022-02-04 18:51] GaganBhat commented on #59
@msavva Where is `download_mp.py` located? It's not in this repository, nor in any of Matterport3D habitat website.

[2022-02-04 19:39] msavva commented on #59
@GaganBhat follow the instructions on the Matterport3D website to request access to the dataset.  You will get the script when you are granted access.

[2022-02-04 19:47] GaganBhat commented on #59
@msavva I got approved, looks like they have changed how they distribute the data, cannot find that script anywhere.

Here's the link to the public repo they shared with me after approval -- https://github.com/matterport/habitat-matterport-3dresearch

[2022-02-04 19:54] msavva commented on #59
You are referring to the HM3D dataset (see https://github.com/facebookresearch/habitat-sim/blob/main/DATASETS.md for information on HM3D).  Note that HM3D is different than the Matteport3D dataset (which uses the `download_mp.py` script).

[2022-02-04 21:21] GaganBhat commented on #59
@msavva Sorry for the confusion! Yes, the MP3D dataset does in fact come with the `download_mp.py` script. Got it.

[2022-02-06 23:02] alexsax opened #803 "habitat-baselines: PointNavBaselineNet produces non-deterministic features (not just random actions)"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: vx.x.x or master?
`master`

Habitat-Sim: vx.x.x or master?
`0.2.1`

## 🐛 Bug

I am trying to run the PointGoal RGB PPO baseline from `habitat-baselines` folder. In the PPO [update step](https://github.com/facebookresearch/habitat-lab/blob/05f5e8b3b1f1a210d1b8a71a7ec2adc19d0fae0a/habitat_baselines/rl/ppo/ppo.py#L86-L97) the agent produces `values

[2022-02-07 17:14] erikwijmans commented on #803
Is there a reason to believe that this is an issue unique to habitat-baselines? Lack of exact determinism is a common issue with PyTorch (really cuda and friends).

Some other things that you can try setting: There's also the cublas flag `export CUBLAS_WORKSPACE_CONFIG=:4096:8` (this is almost certainly needed for helping the lstm out). You can also try disabling cudnn entirely with `torch.backend

[2022-02-07 19:16] alexsax commented on #803
Hey @erikwijmans thanks for the quick response :)

I think this issue is unique to habitat-baselines.The resnet18 in the example above produces features with noise (difference between consecutive runs) in the [1e-6 , 1e-4] range. Is this something you've noticed before?

Compare this to the `torchvision` resnet18, where this doesn't happen (e.g. in the code snippet below)
[code]

[2022-02-07 19:32] erikwijmans commented on #803
The habitat-baselines resnet is based off the torchvision one, but there are a couple changes. The biggest difference is GroupNorm vs. BatchNorm, GN may be less deterministic.

[2022-02-08 17:31] erikwijmans commented on #800
Speeding up user code is beyond the level of support we can realistic offer. One general suggestion is to avoid python through things like numba, cython, or c/c++ with python bindings.

[2022-02-10 02:23] mpiseno opened #805 "Cannot run simple Rearrange Pick environment"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1, hab_suite branch

Habitat-Sim: v0.2.1, main branch

## ❓ Questions and Help

**Update**
I fixed the original issue by converting all the filepaths in config.DATASET to absolute paths. Then the sim starts up, but crashes soon after with the following error:

[code]

The scene 'data/replica_cad/configs/scenes/v3_sc2_staging_20.scene_instan

[2022-02-10 23:49] mpiseno opened #808 "Multiple Objects in Pick Dataset Cause KeyErrors for in Pick Sensors"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already be fixed in the latest

[2022-02-11 17:03] nirbhayjm opened #810 "Variable rename partially reverted in subsequent commit"
`base_dir` was renamed to `config_base_dir` in two places in this file. However, one instance was reverted in a subsequent commit.

https://github.com/facebookresearch/habitat-lab/blob/255ab7fd24c8c5846cfe0a23bfc7863c7cd6fe47/habitat_baselines/utils/gym_definitions.py#L24

https://github.com/facebookresearch/habitat-lab/blob/255ab7fd24c8c5846cfe0a23bfc7863c7cd6fe47/habitat_baselines/utils/gym_defi

[2022-02-16 03:30] ASzot commented on #808
Yes, we are aware of this issue and it is actually fixed at https://github.com/facebookresearch/habitat-lab/pull/774 which we are working on merging into main. Your command should work on that branch.

[2022-02-16 08:59] Ending2015a opened #812 "How to get the full top down map"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2022-02-16 15:00] sparisi opened #813 "DDPPO on ImageNav"
My understanding is that [DDPPO](https://github.com/facebookresearch/habitat-lab/tree/main/habitat_baselines/rl/ddppo) is designed for the `PointNav` task.
I am not sure how hand-crafted the policy is. Would it work for `ImageNav`? Would just changing the task in the YAML file be sufficient, or would I have to redefine the policy and the data collection to account for the 2nd image (showing the go

[2022-02-21 12:31] yyf17 opened #814 "How to ignore the following warning?"
warning come from the code [ManagedPhysicsObjectBase.h:324](https://github.com/facebookresearch/habitat-sim/blob/91f322cf72ec225742e54095728680aeed6e4ac8/src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h#L320)
[code]
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

![image](https://user-images.githubusercontent.com/34536352/154963611-a28d007b-94a6-4718-93ee

[2022-02-24 23:39] Reschivon commented on #778
Hello, did you find a solution to this issue?

[2022-02-25 17:34] Reschivon commented on #778
For reference, I fixed this by upgrading python to 3.7 from 3.6

[2022-03-01 19:19] aclegg3 commented on #408
For more detailed discussion of Bullet physics functionality in Habitat, check out [the ECCV 202 tutorial series](https://aihabitat.org/tutorial/2020/), specifically the `Habitat-Sim for Interaction` section.

[2022-03-01 19:19] #408 closed

[2022-03-02 19:08] vincentpierre commented on #805
It looks like you are missing a specific file in the replica_cad dataset. I would advise re-downloading it :
`python -m habitat_sim.utils.datasets_download --uids replica_cad_dataset`
I was able to reproduce your error by deleting
`rm data/replica_cad/configs/scenes/v3_sc2_staging_20.scene_instance.json`
and fixed it with the command above.
Make sure to be on the latest versions since you could be

[2022-03-03 01:10] #805 closed

[2022-03-08 06:32] cky783 commented on #742
Hello, I am stuck in the smae issue. Do you know how to run it with gpu?

[2022-03-10 09:01] cky783 opened #827 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
I am reproducing a script like below, to perform RL with baseline submodule, but return error:**RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED**
Version: 0.2.0
Code:
import os
import random
import sys

import git
import numpy as np
from gym import spaces
from PIL import Image
import habitat
from habitat.core.logging import logger
from habitat.core.registry import registry
from habitat.si

[2022-03-10 13:16] ZJULiHongxin opened #828 "How to stop Habitat printing tedious information when frequently instantiating habitat.VectorEnv objects?"
## ❓ Questions and Help

Whenever I am running my RL training code in which habitat.VectorEnv has to be frequently instantiated to generate envs, I get a long list of redundant information about the simulation env. These tedious printouts have totally occupied the whole screen of the terminal, hindering me from checking the progress of training rewards.

A fraction of the env information that I do

[2022-03-16 06:55] #388 closed

[2022-03-16 22:04] ethanabrooks opened #831 "Objectnav data for 2t7WUuJeko7"
Hi. I downloaded the [Object goal navigation](https://arxiv.org/abs/2006.13171) dataset from the link in the readme. I noticed that some of the scenes on this [site](https://aspis.cmpt.sfu.ca/scene-toolkit/scans/matterport3d/houses) were missing. In particular I am interested in scene 2t7WUuJeko7. Can that data be acquired anywhere?

[2022-03-19 18:47] retoc71586 opened #833 "M1 compatibility"
Good afternoon, I was only wandering whether both habitat-lab and habitat-sim are compatible with the M1 processors?

[2022-03-21 17:50] erikwijmans commented on #833
They are, but we currently aren't distributing conda binaries for them.

[2022-03-21 17:50] #833 closed

[2022-03-21 19:52] ethanabrooks commented on #329
@lynl7130 could you say what you changed exactly?

[2022-03-23 10:51] roberottt opened #834 "AttributeError: 'habitat_sim._ext.habitat_sim_bindings.SensorSpec' object has no attribute 'parameters'"
Hi, I'm getting this error and I don't know how to fix it.
This is the line where the problem is shown --> sim_sensor_cfg.parameters["hfov"] = str(sensor.config.HFOV)
This line is from the habitat_simulator.py

This is the full error:

File "habitat_hardCoded.py", line 1110, in <module>
    with habitat.Env(config) as env:
  File "/home/roberott/habitat_sim/habitat-lab/habitat/core/env.py", line 1

[2022-03-23 19:15] alstar8 opened #835 "Problem with loading semantic from MP3D dataset"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master
Habitat-Sim: master

## 🐛 Bug

When I load the MP3D dataset, the semantic seems rotated and get a view outside from building

## Steps to Reproduce

Notebook to reproduce this issue
[habitat_example.zip](https://github.com/facebookresearch/habitat-lab/files/8335824/habitat_example.zip)

![image](https://user-images.githubusercontent.com/3

[2022-03-23 21:03] dhruvbatra commented on #835
CC: @jturner65. Looks like a config issue.

[2022-03-24 19:20] erikwijmans commented on #834
Please make sure you are matching your hab-lab and hab-sim version.

[2022-03-24 19:20] #834 closed

[2022-03-26 12:14] ZJULiHongxin commented on #828
I found a solution.
Put this line in the code and Habitat-sim will stop printing redundant information.
`os.environ['HABITAT_SIM_LOG'] = "quiet"`

[2022-03-26 12:14] #828 closed

[2022-03-27 13:44] Runjian-Chen commented on #681
Is there any update about the release of HAB tasks? Thank you!

[2022-03-29 05:27] ASzot commented on #681
Yes, they are almost ready for release. All the HAB tasks are public here: https://github.com/facebookresearch/habitat-lab/pull/837. We are working on cleaning up and documenting the code for release.

I will follow up by the end of the week with a tutorial on how to run the HAB tasks.

[2022-03-29 19:17] ethanabrooks commented on #697
I am able to reproduce this on v0.1.2 in Docker.

You can see all the code at https://github.com/ethanabrooks/habitat-sim-issue. I've tried to make things as minimal as possible but unfortunately there are limits.

This assumes that you have downloaded data to `~/.cache/data`. These are the download instructions:

[code]

This of course requires `download_mp.py` from our friends at Matterport.
Onc

[2022-03-29 20:44] ethanabrooks commented on #697
I am able to eliminate this error by eliminating the "LOOK_DOWN" and "LOOK_UP" actions.

[2022-03-31 10:39] alstar8 commented on #835
@dhruvbatra @jturner65 Still got that problem, any advice what to change in config to fix that?

[2022-04-01 13:25] dobosevych commented on #779
Check this link https://github.com/facebookresearch/habitat-lab/blob/a5acc78e28cbe2e9ca31d5442f13c48a053b6bd7/examples/tutorials/colabs/Habitat_Interactive_Tasks.ipynb
Notebook is available in commit history

[2022-04-01 18:33] aclegg3 commented on #697
This is no longer an issue on `main` branch or hab_suite, so closing this issue thread.
Thanks @ethanabrooks for a possible work-around on 0.2.1.

[2022-04-01 18:33] #697 closed

[2022-04-04 00:55] ethanabrooks commented on #697
I had some issues with the `main` branch but I found that these two commits work:
Habitat-lab: fbdd9fd42e7716c04bbde1da0d867e6d79dd3490
Habitat-sim: 066e4343c27a03ccd969ac6a83cbd262d5c7f2f9

[2022-04-04 18:40] sparisi opened #845 "Disable GPU"
I have installed Habitat with GPU support, and now every environment always runs on GPU.
I would like to run it on CPU, is there a flag to disable GPU?

[2022-04-06 18:45] ethanabrooks commented on #697
@aclegg3 I am actually able to now reproduce this issue on the `main` branch when I use the `conda` version of `habitat-sim`.

Here is a minimal repository that reproduces the issue: https://github.com/ethanabrooks/habitat-sim-issue/tree/conda

I am using `habitat-sim==0.2.1` from conda. For `habitat-lab` I had to fork the repository and comment out three lines of code that were causing errors, bu

[2022-04-06 20:59] erikwijmans commented on #697
Thank you for being persistent on this. Looks like this is down to a change in how we are handling semantic sensors that is only exercised in certain cases. I made a PR on habitat sim to fix this: https://github.com/facebookresearch/habitat-sim/pull/1720

[2022-04-06 21:15] erikwijmans commented on #697
@ethanabrooks Just to clarify, the repo you gave doesn't encounter the exact issue here right? The issue here has nan's in the matrix while the repro you gave has non-nan values in the matrix, but it isn't orthogonal?

[2022-04-06 21:16] ethanabrooks commented on #697
@erikwijmans one sec... verifying

[2022-04-06 21:18] erikwijmans commented on #697
Sounds good. The PR above should fix it then. It just won't fix nans (that's caused by a different thing than floating point drift) so I wanted to double check.

[2022-04-06 21:22] ethanabrooks commented on #697
Thanks for your help with this! I will let you know if the issue is fixed on my end once the PR goes through.

[2022-04-07 13:50] ethanabrooks commented on #697
This PR fixes the issue in my repository (https://github.com/ethanabrooks/habitat-sim-issue).

[2022-04-09 16:21] sparisi opened #849 "New environments make Conv2d very slow"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: main branch, up-to-date
Habitat-Sim: 0.2.1

## 🐛 Bug
If I create more than one Habitat env and use `Conv2d` layers for other things, the code because extremely slow. More details below.

## Steps to Reproduce

[code]

I am using Replica scenes.
`nav_task.yaml` is attached as `txt`.

## Expected behavior
All loops over the scenes should take roug

[2022-04-10 01:54] erikwijmans commented on #849
Huh, this is really quite odd. My guess is that you are bumping up against either GPU or CPU RAM limits and for whatever reason the second env causes thrashing. Does `htop` or `nvidia-smi` show that you are near/over the limits on either of those?

No. While the renderer can theoretically run with a CPU software rasterizer like LLVMpipe, it's useless slow so we haven't put any engineering effort i

[2022-04-10 06:06] sparisi commented on #849
Just to add few more things.

I checked what takes time within the loop, if it is the model forward or the env step.
It is the former and these are the times (total time, avg env step time, avg model fwd time):
scene 0: 5.394575834274292 0.001211775302886963 0.0009212926864624023
scene 1: 60.74009418487549 0.0009357562065124512 0.023349629592895507
scene 2: 59.83483290672302 0.0010255617141723633

[2022-04-10 14:07] morpheus1820 commented on #95
Hi! Has the example notebook "handcrafted-agent-example.ipynb" been made available yet?

[2022-04-10 17:19] erikwijmans commented on #849
There is definitely some weird interaction between PyTorch's CPU convolution and Habitat going on here, but I unfortunately have no idea where to even begin with debugging that. If others do, feel free to comment here.

[2022-04-10 18:38] dhruvbatra commented on #95
I think it's safe to assume that at this point that we no longer support any SLAM-based agent with the current version of the code.

[2022-04-10 18:38] #95 closed

[2022-04-16 02:36] wangyingfan-day opened #852 "How to change the reward function"
If i need to change the reward function, where can i find it in the habitat-lab folder

[2022-04-17 22:29] dhruvbatra commented on #852
Please see: https://colab.research.google.com/github/facebookresearch/habitat-lab/blob/master/examples/tutorials/colabs/Habitat_Lab.ipynb (RLEnv)

[2022-04-17 22:29] #852 closed

[2022-04-17 22:29] dhruvbatra commented on #852
Also: https://aihabitat.org/tutorial/2020/

[2022-04-19 01:13] ziangliuusc opened #853 "Training with ddppo_pick.yaml doesn't converge"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: [hab_suite](https://github.com/facebookresearch/habitat-lab/pull/751)

Habitat-Sim: master

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/f

[2022-04-20 07:49] wangyingfan-day commented on #852
thanks

[2022-04-24 09:23] yyf17 opened #855 "The images of the custom rgb and Depth sensor are in sync, how to solve it?"
## 🚀
The images of the custom rgb and Depth sensor are in sync, how to solve it?

![image](https://user-images.githubusercontent.com/34536352/164969595-5e757abb-60df-47f8-9a9a-bcfa3ec91ea0.png)

[2022-04-24 16:06] erikwijmans commented on #855
We'll need more details to be helpful here. Can you post a code snippet of how you are creating the cameras and how you are moving them?

[2022-04-25 03:51] #855 closed

[2022-04-25 07:12] manjrekarom opened #856 "Creating Offline Dataset for Visual Navigation in Habitat Lab"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1
Habitat-Sim: v0.2.1

## Docs and Tutorials
Did you read the docs? https://aihabitat.org/docs/habitat-lab/
Yes

Did you check out the tutorials? https://aihabitat.org/tutorial/2020/
Yes

## ❓ Questions and Help
Greetings,
I am trying to implement a [paper](https://arxiv.org/abs/2204.02372) and I want to bootstrap with a policy trained with

[2022-04-25 07:28] yyf17 commented on #855
@erikwijmans
The definition of the sensor is:
# RGBSensorForAgent0
[code]
#
[code]

[2022-04-25 07:42] manjrekarom opened #857 "No depth key in observations dict even when it's set in config"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

## Docs and Tutorials
Did you read the docs? https://aihabitat.org/docs/habitat-lab/
Yes

Did you check out the tutorials? https://aihabitat.org/tutorial/2020/
Yes

## ❓ Questions and Help
I trained ppo with the following code and config (ignore the val dataset used for training part).
[code]

Now I am trying to run

[2022-04-25 14:53] erikwijmans commented on #856
This isn't something we have an example of, but you can take a look at the dagger trainer in https://github.com/jacobkrantz/VLN-CE as a starting point.

[2022-04-25 14:53] #856 closed

[2022-04-25 14:59] erikwijmans commented on #855
[code]

Two things:

1. current_state.rotation.tolist() isn't correct, please use `habitat.utils.geometry_utils.quaternion_to_list`
2. We don't have an `agent_id` arg in `get_observations_at` so presumably you are using a modified version of the code base. Likely those modifications are the source of the bug.

[2022-04-25 16:12] yyf17 commented on #855
@erikwijmans
Thank you.
I have modified Simulator
[code]

[2022-04-25 23:08] erikwijmans commented on #855
If you can make a minimal reproduction of the issue I'm happy to look into it but this is too large of change-set for me to realistically look into.

[2022-04-26 06:53] yyf17 commented on #855
@erikwijmans I will try to make a minimal reproduction of the issue.
Thank you.

[2022-04-28 20:58] manjrekarom commented on #856
@erikwijmans thanks for your reply. Could you briefly describe what dagger trainer is doing as the dagger that I am aware of needs human in the loop?

Do you think it would be easier for me to use a pre-trained model to do that instead? If so are there any RGB models for PointNav? I saw some trained on Gibson but I am working with hm3d.

[2022-05-07 18:51] Williams122 opened #866 "Most definitely."
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: vx.x.x or master?

Habitat-Sim: vx.x.x or master?

Habitat is under active development, and we advise users to restrict themselves to stable releases of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases). The bug you are about to report may already b

[2022-05-07 19:51] #866 closed

[2022-05-11 08:32] rosanom opened #868 "Place an object in the scene - Integration with the habitat_baselines code"
Hello there!
I had a look at the [tutorial about how to instance a new object inside a scene](https://aihabitat.org/docs/habitat-sim/rigid-object-tutorial.html).
I see that methods of the simulator instance, such as `add_object(...)` and `set_translation(..)`, are called to place objects in specific locations of the environment.
Do you have any tips on how to integrate this functionality inside th

[2022-05-11 15:49] aclegg3 commented on #868
Hey. @rosanom.

habitat_baselines contains our learning algorithms and training tools, but the simulation you are instantiating is encapsulated in an [RLEnv](https://github.com/facebookresearch/habitat-lab/blob/main/habitat/core/env.py) which has a [Simulator](https://github.com/facebookresearch/habitat-lab/blob/323f78684de0d348fc57f0cd3be4ae8a5c0e3435/habitat/core/env.py#L47) member variable. Thi

[2022-05-12 18:52] Skylion007 commented on #857
@manjrekarom Habitat Baselines tasks currently overrides sensors: https://github.com/facebookresearch/habitat-lab/blob/323f78684de0d348fc57f0cd3be4ae8a5c0e3435/habitat_baselines/config/pointnav/ddppo_pointnav.yaml#L13 . It's something we are definitely working on fixing in our tech debt.

[2022-05-12 22:43] manjrekarom commented on #857
Thanks for your reply. So shouldn't I have only "depth" and not "rgb" in observations, if the above config overrides it?

[2022-05-20 19:29] arjung128 opened #871 "Pre-trained models for Habitat 2.0 Skills"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may already be addressed in the

[2022-05-20 19:31] arjung128 opened #872 "Grasping Handle in Open Drawer / Open Fridge"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may already be addressed in the

[2022-05-23 14:05] smorad opened #873 "Using PoseExtractor in habitat-lab"
## ❓ Questions and Help
I'm currently trying to pretrain a CNN using a `PoseExtractor`, then train an RL agent using said CNN in `habitat-lab`. Unfortunately, it seems like `PoseExtractor` doesn't have `habitat-lab` integration. Ideally, I'd be able to pass my nice `habitat-lab` configs specifying train/test split, device, sensor setup, agent height, etc  to a `PoseExtractor` instance.

I was wond

[2022-05-23 20:59] aclegg3 commented on #873
Hey, @smorad. Yeah, this sounds like an additional feature. You'd probably want to fork the code and make a new tool for this. Instead of extracting poses from a Simulator instance in habitat-sim, I'd instantiate the Task or Env and then make calls to the underlying Simulator instance. Alternatively you could modify the PoseExtractor to take an existing instance of the Simulator object and then us

[2022-05-23 21:03] aclegg3 commented on #872
Hey, @arjung128.

@ASzot may have more accurate/detailed references for you.

I believe we are creating a dynamic constraint between the robot's end effector and a marker on the articulated object link (e.g. the fridge or drawer handle) like we do for grasping objects. However, the articulated object base is fixed to the ground, so only the joints will move in response to the robot's arm motion.

[2022-05-23 21:03] aclegg3 commented on #871
@ASzot are we planning to release any of these in the near future?

[2022-05-23 21:05] aclegg3 commented on #853
@ziangliuusc,

We merged some changes recently and more are coming. Try again with current `main` and better yet, keep an eye out for our upcoming stable version release.

[2022-05-23 21:07] aclegg3 commented on #814
Hey, @yyf17,

You can configure logging levels as described in [this doc page](https://aihabitat.org/docs/habitat-sim/logging.html).

This warning is originating from trying to access objects wrappers for objects which have already been deleted. I suggest you address the underlying source issues to avoid unexpected behavior.

[2022-05-23 21:07] #814 closed

[2022-05-25 03:38] StOnEGiggity opened #875 "HM3D download script seems broken"
Hi,

I follow the instruction to download the HM3D dataset. I have API token and the access to HM3D dataset.

However, there is one error "file could not be opened successfully" when I run the command from the instruction. I observe that the program is trying to unpack a tar file "hm3d-minival-habitat.tar".

There is a similar issue from https://github.com/facebookresearch/habitat-sim/issues/1755.

[2022-06-03 20:56] dhruvbatra commented on #875
@StOnEGiggity -- can you try again now?

[2022-06-04 03:53] srama2512 commented on #875
@StOnEGiggity - It should work now. I've tried it locally on my end.

[2022-06-14 11:37] StOnEGiggity commented on #875
Yeah, it works now. Thanks a lot.

[2022-06-15 08:13] 20481535 opened #887 "Is T_world_camera1 a w2c matrix?"
# Invert to get world --> camera
T_camera1_world = np.linalg.inv(T_world_camera1)

from the above code, it looks like T_world_camera1 is c2w

[2022-06-15 16:37] dhruvbatra commented on #887
There is too little context to answer your question.

[2022-06-15 16:37] #887 closed

[2022-06-17 08:01] jzhzhang opened #889 "Incorrect Distance_to_goal metric in ObjectNav task"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.1

Habitat-Sim: v0.2.1

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your question may alread

[2022-06-17 10:57] jzhzhang commented on #889
I further check the episode files in Matterport Semantic V0.1, like 4ok3usBNeis.json. And I find the `goal` in the episode is empty.  Is there any connection to the above question?

[code]

[2022-06-17 20:44] erikwijmans commented on #889
Can you provided the episode ID and scene ID for an example with this issue?

The goals field being empty in the json is expected. That's gets populated on load using the `goals_by_category` field.

[2022-06-18 03:09] jzhzhang commented on #889
The episodes_id is ```39``` and the scene_id is ```hm3d/val/00800-TEEsavR23oF/TEEsavR23oF.basis.glb```
The complete episode config is :
[code]

[2022-06-21 14:55] jzhzhang commented on #889
@erikwijmans Hi, I take a deep step into the code and data. Here is what i found:

The scene ```hm3d/val/00800-TEEsavR23oF/TEEsavR23oF.basis.glb``` only have one toilet target, and the weird ```distance_to_goal``` comes from the wrong ```current position``` or ```target position```.  Specifically, the starting position is ```[1.95021, 0.16338, -5.66802]``` and the target position is ```[-5.98071,

[2022-06-21 16:20] rpartsey commented on #780
Hi @yhymason,
Attribute `running_mean_and_var` of `PointNavResNetPolicy.net.visual_encoder`  has attributes `_mean`, `_var`, `_count` if and only if `normalize_visual_inputs` parameter of ResNetEncoder is set to True (see [resnet_policy.py L373](https://github.com/facebookresearch/habitat-lab/blob/5ce36a6c6502fe8e86d6732ba8bab9a5db471574/habitat_baselines/rl/ddppo/policy/resnet_policy.py#L373)). A

[2022-06-21 18:20] erikwijmans commented on #889
Looks like there are (at least) two toilets in the scene -- there's on upstairs also and that's the one with those target positions.

The one you show seems to be an annotation error:
<img width="791" alt="image" src="https://user-images.githubusercontent.com/12722529/174870739-7dfa1329-6d84-4633-8196-78d3648efb39.png">

We'll flag that.

[2022-06-22 04:24] jzhzhang commented on #889
Thanks for your time. I will figure out another way to train my agent.

[2022-06-28 00:11] sagadre opened #893 "TASK.SUCCESS.SUCCESS_DISTANCE v.s. TASK.SUCCESS_DISTANCE"
## ❓ Questions and Help

Based on the [habitat challenge 2022 object nav page](https://aihabitat.org/challenge/2022/), seems like the success distance should be 1.0m.

Looking at the default config I see the following:

[code]

Just want to make sure that `TASK.SUCCESS_DISTANCE` is being used and not `TASK.SUCCESS.SUCCESS_DISTANCE` especially in light of this [PR](https://github.com/facebookresear

[2022-06-28 00:34] sagadre commented on #893
After playing around a bit, it does seem like `TASK.SUCCESS.SUCCESS_DISTANCE` is being used.
Does this mean that the success distance is 10.0cm and not 1.0m?

[2022-06-28 12:45] derrick-xwp opened #894 "the coordinate system of habitat-sim"
## ❓ Questions and Help

What is the coordinate type of habitat? like opencv or opengl?

[2022-06-28 14:47] xwaiyy123 commented on #617
I executed your command but I got a new error：
data/scene_datasets/habitat-test-scenes/van-gogh-room.glb
[10:22:57:135039]:[Sim] Simulator.cpp(471)::instanceStageForSceneAttributes :
---
The active scene does not contain semantic annotations : activeSemanticSceneID_ = 0
---
[10:22:57:135084]:[Sim] Simulator.cpp(205)::reconfigure : CreateSceneInstance success == true for active scene name : data/sc

[2022-06-28 15:06] #894 closed

[2022-06-29 20:09] dhruvbatra commented on #893
@ykarmesh @srama2512 @devendrachaplot

[2022-06-29 21:43] devendrachaplot commented on #893
The success distance is 1m. I believe 1m is used to find a set valid points around the object, 0.1m is the success threshold from any of these valid points. I believe @Skylion007 implemented this, is my understanding correct?

[2022-06-29 21:52] Skylion007 commented on #893
I think TASK.SUCCESS_DISTANCE is deprecated, but may be used for ObjectNav. I believe @devendrachaplot understanding is correct. It really shouldn't be used for this purpose, we do need to refactor so that we have a `TASK.OBJ_NAV.SUCCESS_DISTANCE` for better documentation and composability. This is definitely part of the config we should redesign as we continue the HabLab refactor that @vincentpie

[2022-06-30 16:32] #893 closed

[2022-07-06 02:07] xuexidi opened #896 "Where can I find the robot URDF file？Such as "./data/robots/hab_fetch/robots/hab_fetch.urdf""
## ❓ Questions and Help
Hello!
I would like to train an HAB agent under replica_cad dataset (nav-pick-nav-place).
But I can't found files described in **<habitat-lab/configs/tasks/rearrange/nav_pick_nav_place.yaml>** such as: "_DATA_PATH: data/datasets/replica_cad/rearrange/v1/{split}/all_receptacles_10k_1k.json.gz_", "_ROBOT_URDF: ./data/robots/hab_fetch/robots/hab_fetch.urdf_" and so on.

Where

[2022-07-06 17:03] aclegg3 commented on #896
Hey @xuexidi,

You can get these assets from our S3 hosting. The easiest way is to use the datasets_download.py utility. Specifically, the [rearrange_task_assets](https://github.com/facebookresearch/habitat-sim/blob/127d26b4a226493c9bbefdc7353e5bc5fb44963c/src_python/habitat_sim/utils/datasets_download.py#L273) in this case.

With habitat-sim module installed in your conda env:
`python -m habitat_

[2022-07-06 17:03] #896 closed

[2022-07-08 02:26] xuexidi commented on #896
@aclegg3
OK, I'll try it！Thanks a lot ! ! !

[2022-07-09 07:18] Jthon-lab opened #899 "Question about the mismatch between semantic images and RGB images"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: 0.2.2
Habitat-Sim: 0.2.2

## Docs and Tutorials
Did you read the docs? YES
Did you check out the tutorials? YES
Perhaps your question is answered there. If not, carry on!

## ❓ Questions and Help
Mismatch of semantic images and RGB images.
I use the Object-Nav for MP3D configs to create a simple demo and the configs are listed as follows:
[code]

[2022-07-13 03:19] Jthon-lab commented on #835
I've got the same problem, do you know how to change the config? Thank you @alstar8.

[2022-07-13 17:23] aclegg3 commented on #899
https://github.com/facebookresearch/habitat-sim/issues/1808

[2022-07-13 17:23] aclegg3 commented on #835
https://github.com/facebookresearch/habitat-sim/issues/1808

[2022-07-20 12:49] xuexidi opened #908 "[Help!]ConnectionResetError: [Errno 104] Connection reset by peer"
I train the Habitat Object nav use DDPPO baselines normally in my Ubuntu 18.04 server.
When I back up the conda virtual environment and training code to other Ubuntu machines (Ubuntu 18.04 server, too) for training, an error appears in the title. What is the possible reason?

`---
I0720 20:43:58.673173 30334 simulator.py:213] Loaded navmesh data/scene_datasets/mp3d/VFuaQ6m2Qom/VFuaQ6m2Qom.navmesh

[2022-07-21 17:01] laikhtewari opened #910 "Convert Polymetis Tutorial to Colab"
## 🚀 Feature

Convert the existing Jupyter notebook that describes how to use Polymetis with Habitat into a fully contained colab notebook.

## Motivation

A tutorial for using Polymetis with Habitat exists as a Jupyter notebook. The Jupyter format was chosen since automatically installing and configuring Polymetis in a colab proved to be difficult as Polymetis strictly requires Python 3.8. Howeve

[2022-07-24 10:42] xuexidi commented on #691
@ruddradev
Hello, did you solve this error？I meet the same error, and I have no idea how to fix it......please help me..... :(

[2022-07-24 16:20] ruddradev commented on #691
Hello @xuexidi. I don't remember exactly. But what I do remember, is that there is a particular docker image called cudagl that has the pre-requisites to run Habitat in a server. Also with that I installed the appropriate pytorch versions, and build habitat with --with-cuda flag on. Let me know if it works.

[2022-07-26 22:35] yahsieh37 opened #914 "How to get the end point of the episode and the shortest path showing on the top down map of HM3D data?"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.2 (stable)

Habitat-Sim: v0.2.2 (stable)

Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/releases)? Your q

[2022-07-26 23:51] dhruvbatra commented on #914
Please read the "Habitat-Sim for Navigation" tutorial section on Navmesh. https://aihabitat.org/tutorial/2020/

[2022-07-26 23:51] #914 closed

[2022-07-29 22:33] RichterLee opened #917 "About distribution of losses"
## Habitat-Lab
Habitat-Lab: master, latest version
## ❓ Questions
![image](https://user-images.githubusercontent.com/47584381/181852698-fe5c5969-d579-4ced-b958-dd5903db5681.png)

Hi, I have a question about the ddppo algorithm in /habitat_baselines/rl/ppo/ppo_trainer.py. I find that the losses are first sorted, then distrib.all_reduce is called, and then losses divided by world_size. Is there a re

[2022-07-30 20:38] dhruvbatra commented on #917
@erikwijmans

[2022-08-01 04:25] EchoTHChen opened #918 "About .glb files"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: v0.2.2

Habitat-Sim: v0.6.2

## ❓ Questions and Help
When I download the matterport3d dataset, I did not find out '.glb' files. I use the following script to download:
`python download_mp.py --task habitat -o data/scene_datasets/mp3d/`. How could I get the glb files? (Besides, from which link I could get the .glb only? )

[2022-08-01 06:24] #918 closed

[2022-08-01 19:01] erikwijmans commented on #917
The sort is so that all ranks have the same order of keys (prior to python 3.7, dictionaries weren't ordered by default so `.keys()` would return the keys in an arbitrary order). If it wasn't the same, we may end up reducing the value loss with the action loss (or something similarly incorrect).

When reducing additional losses, you need to guarantee that all ranks will append their additional los

[2022-08-01 20:49] RichterLee commented on #917
For example,

def _coalesce_post_step(self, loss_1, loss_2, loss_3):
    stats = torch.tensor([loss_1, loss_2, loss_3], device="cpu")
    stats = self._all_reduce(stats)

[2022-08-01 22:00] erikwijmans commented on #917
Yep.

[2022-08-03 17:26] luckeciano commented on #617
The root cause for this problem is that the `requirements.txt` in `habitat_baselines/rl` requires `moviepy>=1.0.1`, and moviepy had a breaking change (the current version is `2.x`). An easy way to overcome such problems is to fix the version to install:

`pip install moviepy==1.0.1`

As a long-term solution, we should at least add this constraint to the `requirements.txt` file.

[2022-08-05 11:10] pioneer-innovation opened #923 "Objectnav baseline error"
Hi，
I use the command below to train baseline in mp3d.

[code]

It returns error:

[code]

I have changed NCCL to GLOO in the config file, but it still return the same error message.

[2022-08-05 23:23] dhruvbatra commented on #923
Have you tried following the instructions here:
https://github.com/facebookresearch/habitat-challenge

[2022-08-06 09:26] srama2512 commented on #923
@pioneer-innovation I was able to fix a similar error by including this PR in my code. I was using habitat-lab v0.2.2 when I encountered this error.

https://github.com/facebookresearch/habitat-lab/pull/901

[2022-08-06 10:42] pioneer-innovation commented on #923
@srama2512 Thank you very much! It works now! :)

[2022-08-09 22:15] #923 closed

[2022-08-20 14:57] jzhzhang commented on #889
@erikwijmans Hi, thanks for your kindy responce last time. I reopen this issue because I just found more weird results in the ```hm3d```.

I try to evaluate my agent with ```hm3d``` validation set. Most of the time, the simulator gives me right evaluation, but there are many weird results.
![image](https://user-images.githubusercontent.com/54199992/185752476-dc37cbcf-6a23-46cf-9464-684be49b305d.pn

[2022-08-23 05:18] zhangyong511 commented on #96
Hello @xiaotaw , I have encountered the same problem as you. How did you solve it

[2022-08-23 19:03] sivannavis opened #931 "FileNotFoundError during SAVI training"
Hi! I encountered this issue in soundspaces repo, but think it has something to do with habitat-lab as well, so posting here for some help:
When I run `ss_baselines.savi.run` with savi_pretraining.yaml, I run into these errors: `FileNotFoundError: data/metadata/default/ZMojNkEp431/points.txt not found.` Why would the metadata_dir function in simulator.py look for `config.SCENE_DATASET = default` w

[2022-08-26 08:54] zhangyong511 commented on #270
Hi @SenZHANG-GitHub  @ducha-aiki  @mathfac  I run "python habitat_baselines/agents/slam_agents.py --task-config configs/tasks/vln_r2r.yaml"

The following error occurred:

Trade::StanfordImporter::mesh(): incomplete face data
Containers::Optional: the optional is empty
已放弃 (核心已转储)

and When I run "python habitat_baselines/agents/slam_agents.py --task-config configs/tasks/pointnav_rgbd.yaml"
The fo

[2022-08-31 07:13] rpartsey commented on #7
The example how the scene can be switched in the PointNav task (you may do the scene switch for the other tasks by following the same logic):
[code]

For more detailed implementation you may refer to this [code](https://github.com/rpartsey/pointgoal-navigation/blob/80d3375d1bb4898fe04f9379ee38059049be4263/odometry/dataset/dataset.py#L290).

Feel free to re-open the issue, if you still have questio

[2022-08-31 07:13] #7 closed

[2022-08-31 07:35] rpartsey commented on #8
The habitat platform now supports a wide range of tasks (PointGoal, ObjectGoal, Rearrangement).
New tasks can be defined by extending the habitat code.

Closing the issue because it has not had recent activity.

[2022-08-31 07:35] #8 closed

[2022-08-31 08:03] rpartsey commented on #60
Hi @eric-xw @gianscarpe

If you are still interested in using the VectorEnv for shortest path following, this should be pretty easy to implement.

You may define a thin wrapper on top of the Env class (let's say, SPFEnv) that should have attributes env (Env instance) and spf ()

[2022-08-31 10:42] rpartsey commented on #61
Yet another alternative is to enable a `TOP_DOWN_MAP` sensor (as it was done in the [shortest_path_follower_example.py](https://github.com/facebookresearch/habitat-lab/blob/main/examples/shortest_path_follower_example.py#L48)).
Visualisation examples are demonstrated in the [visualization_examples.py](https://github.com/facebookresearch/habitat-lab/blob/dcfced6259ae3f7d1068db0c20e3f82658e8dd60/exa

[2022-08-31 10:42] #61 closed

[2022-08-31 10:48] rpartsey commented on #67
Issue has already been resolved. Closing.

[2022-08-31 10:48] #67 closed

[2022-08-31 10:54] rpartsey commented on #72
Closing the issue because it has not had recent activity.

[2022-08-31 10:54] #72 closed

[2022-08-31 11:23] rpartsey commented on #96
Hi @zhangyong511
Have you tried modifying CMakeListst.txt(L31-33) as it was suggested [above](https://github.com/facebookresearch/habitat-lab/issues/96#issuecomment-553910936)?

[2022-08-31 11:34] rpartsey commented on #122
Closing the issue because it has not had recent activity (and @placeforyiming provided a valid solution).

[2022-08-31 11:34] #122 closed

[2022-08-31 11:59] rpartsey commented on #148
@knzo25 `habitat-lab` has been updated a lot since your las comment.
Closing the issue as stale.

[2022-08-31 11:59] #148 closed

[2022-09-01 06:05] rpartsey commented on #165
@ASzot do I understand correctly that such functionality is already implemented in habitat-lab as the [BaseVelAction](https://github.com/facebookresearch/habitat-lab/blob/380ac0a7d8c4ead1532f109b15d329473212eae9/habitat/tasks/rearrange/actions/actions.py#L227)?

[2022-09-01 06:13] rpartsey commented on #171
All the questions were answered in the Issue comments.
Closing as resolved.

[2022-09-01 06:13] #171 closed

[2022-09-01 06:20] rpartsey commented on #174
Closing the issue because it has not had recent activity.

[2022-09-01 06:20] #174 closed

[2022-09-01 06:25] #177 closed

[2022-09-01 06:28] rpartsey commented on #186
Closing the issue because it has not had recent activity.

[2022-09-01 06:28] #186 closed

[2022-09-01 06:34] rpartsey commented on #218
This bug is already fixed.

[2022-09-01 06:34] #218 closed

[2022-09-01 07:42] rpartsey commented on #226
`info["top_down_map"]["map"]` is a 2D array of indices representing a colors in the habitat.utils.visualizations.maps.TOP_DOWN_MAP_COLORS. The values >= 10 correspond to the agent's path trajectory color indices.

[2022-09-01 07:42] #226 closed

[2022-09-01 07:55] #238 closed

[2022-09-01 08:03] rpartsey commented on #264
Stale.

[2022-09-01 08:03] #264 closed

[2022-09-01 08:07] rpartsey commented on #268
Stale.

[2022-09-01 08:07] #268 closed

[2022-09-01 10:43] rpartsey commented on #565
The Issue was resolved by the Issue author. Solution is described in the edited Issue description.

So here is the trick to solve this problem....
Just ignore it (so don't stop mapping when you hit the LOST). The mapper will eventually re localize itself.

[2022-09-01 10:43] #565 closed

[2022-09-01 11:10] #294 closed

[2022-09-01 11:17] rpartsey commented on #296
All the questions were answered in the Issue comments.

[2022-09-01 11:17] #296 closed

[2022-09-01 11:50] rpartsey commented on #301
Suggestions on how to filter/implement a custom episodes order:
- generate your own PointNav task dataset with a short geodesic distance to target
- use [Dataset.filter_episodes](https://github.com/facebookresearch/habitat-lab/blob/cd84d56b351b7389a24c16b785b9bc141e078858/habitat/core/dataset.py#L223) method to filter episodes
- define a custom [EpisodeIterator](https://github.com/facebookresearch

[2022-09-01 11:50] #301 closed

[2022-09-01 11:52] rpartsey commented on #302
Closing the issue because it has not had recent activity.

[2022-09-01 11:52] #302 closed

[2022-09-01 11:56] rpartsey commented on #304
Closing the issue because it has not had recent activity.

[2022-09-01 11:56] #304 closed

[2022-09-01 11:58] rpartsey commented on #313
Stale.

[2022-09-01 11:58] #313 closed

[2022-09-01 12:01] #322 closed

[2022-09-01 12:10] rpartsey commented on #369
All the PR's mentioned in the scope of this Issue have already been merged.

[2022-09-01 12:10] #369 closed

[2022-09-01 12:20] rpartsey commented on #417
Stale.
Habitat-lab now support interaction with the objects.

[2022-09-01 12:20] #417 closed

[2022-09-01 12:21] #424 closed

[2022-09-01 12:24] #434 closed

[2022-09-01 12:27] rpartsey commented on #483
Closing the issue because it has not had recent activity.

[2022-09-01 12:27] #483 closed

[2022-09-01 12:32] rpartsey commented on #473
All the questions were answered in the Issue comments.

[2022-09-01 12:32] #473 closed

[2022-09-01 14:51] ASzot commented on #165
@rpartsey that's correct. Continuous actions are very well integrated in Habitat now.

[2022-09-04 17:40] #165 closed

[2022-09-04 17:43] rpartsey commented on #356
Relates to https://github.com/facebookresearch/habitat-sim/pull/565, solved by https://github.com/facebookresearch/habitat-sim/pull/571.

[2022-09-04 17:43] #356 closed

[2022-09-04 17:59] rpartsey commented on #489
@Skylion007 Looks like such API has been already implemented in [habitat-sim](https://github.com/facebookresearch/habitat-sim/blob/2662204daa6d6324ced92b7e9e0ae0365cef9e41/src_python/habitat_sim/utils/datasets_download.py#L573).

[2022-09-04 18:01] #491 closed

[2022-09-04 18:03] #494 closed

[2022-09-04 18:19] rpartsey commented on #502
@yyf17 if the data you want to add should be a part of `info["top_down_map"]` then you may subclass the [TopDownMap](https://github.com/facebookresearch/habitat-lab/blob/e2cb80843f6ddf24ffd3964976a5136963c03568/habitat/tasks/nav/nav.py#L696) measure, overload `update_metric` and new class instead of TopDownMap measure.

If the data should not be a part of `info["top_down_map"]` then define and reg

[2022-09-04 18:19] #502 closed

[2022-09-04 18:23] rpartsey commented on #506
Closing the issue because it has not had recent activity.

[2022-09-04 18:23] #506 closed

[2022-09-04 18:36] rpartsey commented on #513
Looks like the Issue was resolved.

@KenaHemnani feel free to reopen if you still have questions.

[2022-09-04 18:36] #513 closed

[2022-09-04 18:39] #514 closed

[2022-09-04 18:41] #522 closed

[2022-09-04 18:42] #541 closed

[2022-09-04 18:44] #542 closed

[2022-09-04 18:47] #547 closed

[2022-09-04 18:50] rpartsey commented on #549
Closing the issue because it has not had recent activity.

[2022-09-04 18:50] #549 closed

[2022-09-04 18:59] rpartsey commented on #558
Hi @mukulkhanna have you already completed/merged the changes described above?

[2022-09-04 19:03] rpartsey commented on #559
Hi @mathfac any updates on this?

[2022-09-04 19:22] rpartsey commented on #584
Duplicates https://github.com/facebookresearch/habitat-lab/issues/165.

Continuous actions are very well integrated in Habitat now.

[2022-09-04 19:22] #584 closed

[2022-09-04 19:26] #591 closed

[2022-09-05 06:19] rpartsey commented on #597
Closing the issue because it has not had recent activity.

[2022-09-05 06:19] #597 closed

[2022-09-05 06:24] rpartsey commented on #599
Duplicates https://github.com/facebookresearch/habitat-lab/issues/559.

[2022-09-05 06:24] #599 closed

[2022-09-05 06:27] rpartsey commented on #601
Hi @NaveenVSrinivasan have you managed to resolve the issue described above?

[2022-09-05 06:33] rpartsey commented on #614
Duplicates https://github.com/facebookresearch/habitat-lab/issues/559.

[2022-09-05 06:33] #614 closed

[2022-09-05 06:38] rpartsey commented on #616
Closing the issue because it has not had recent activity.

[2022-09-05 06:38] #616 closed

[2022-09-05 06:42] #629 closed

[2022-09-05 06:45] #630 closed

[2022-09-05 07:11] #640 closed

[2022-09-05 07:13] #645 closed

[2022-09-05 07:19] rpartsey commented on #656
Hi @gianscarpe does the answer above resolve your issue? Thanks!

[2022-09-05 22:37] ykarmesh opened #937 "PointNavResNetNet searches for "visual_feats" in observations while it should be searching for "visual_features""
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

## 🐛 Bug
The habitat-lab codebase implements a caching mechanism for `visual_features` in case the visual encoder is frozen during policy learning ([here](https://github.com/facebookresearch/habitat-lab/blob/2acd836485e7db78328be3b4863ca6f4c7239b36/habitat_baselines/rl/ppo/ppo_trainer.py#L317) and [here](https://gith

[2022-09-07 11:30] sreeharshaparuchur1 commented on #931
Hey @sivannavis !

I'm facing a similar error while trying to run the av_wan baseline from the soundspaces repo. I too have traced this absurd behaviour of the path changing to 'default' instead of 'mp3d' (replica, in my case) down to this part in the code. May I know if you have figuired a work around for the same that does not have an effect on the way habitat-sim goes about its task.

I am usin

[2022-09-07 15:11] sivannavis commented on #931
@sreeharshaparuchur1 Hi! Yes, I'm using the same version 2.2, and my workaround is just simply commenting this part that changes the scene_dataset string, in this thread https://github.com/facebookresearch/sound-spaces/issues/89#issuecomment-1233326255 .

[2022-09-08 20:53] mukulkhanna commented on #558
Hi @rpartsey, I just created a PR for the same (#942). Thanks for pointing this out!

We can close this issue as soon as it's merged.

[2022-09-08 23:48] mathfac commented on #558
Closed with merge of https://github.com/facebookresearch/habitat-lab/pull/942. Thanks.

[2022-09-08 23:48] #558 closed

[2022-09-09 07:09] sreeharshaparuchur1 commented on #931
@sivannavis Ah, yeah I did that too. It seems to work alright, even with other baselines. It does beg the question as to why it was added in the first place. Also, are you running code with soundspaces 2.0 or soundspaces 1.0?

[2022-09-09 14:40] sivannavis commented on #931
I think I'm running soundspaces 1.0. I do have the same question though...

[2022-09-11 03:22] keeper1314 opened #947 "ERROR in running examples/benchmark.py"
The error traceback is :
Traceback (most recent call last):
  File "examples/benchmark.py", line 10, in <module>
    from habitat.sims.habitat_simulator.actions import HabitatSimActions
  File "/data1/fuyu/habitat-lab/habitat/sims/habitat_simulator/actions.py", line 12, in <module>
    import habitat_sim
  File "/data1/fuyu/.conda/envs/Object_Goal_Navigation/lib/python3.8/site-packages/habitat_sim

[2022-09-12 12:35] rpartsey commented on #659
Hi @gianscarpe!
The approach you described makes sense.
What specifically are you struggling with?

In my opinion you can do it the same way it is implemented in the [HabitatSim.get_observations_at](https://github.com/facebookresearch/habitat-lab/blob/380ac0a7d8c4ead1532f109b15d329473212eae9/habitat/sims/habitat_simulator/habitat_simulator.py#L589):
[code]

[2022-09-12 12:43] rpartsey commented on #671
Hi @gtatiya, have you managed to resolve the Issue?
Have you tried using commit suggested by Oleksandr (https://github.com/facebookresearch/habitat-lab/commit/bdd94e31eaa6f28036e92456b3ad3772a283b871)?

[2022-09-12 13:20] rpartsey commented on #696
Hi @sparisi @jadkins99, have you managed to resolve the issue as @ASzot suggested?

[2022-09-12 13:23] rpartsey commented on #698
Closing as resolved. @jadkins99 feel free to reopen if you still have questions.

[2022-09-12 13:23] #698 closed

[2022-09-12 13:31] #710 closed

[2022-09-12 13:39] #728 closed

[2022-09-12 13:41] rpartsey commented on #737
@mihdalal Feel free to re-open the issue, if you still have questions.

[2022-09-12 13:41] #737 closed

[2022-09-12 13:43] rpartsey commented on #738
@mihdalal Feel free to re-open the issue, if you still have questions.

[2022-09-12 13:43] #738 closed

[2022-09-12 13:46] rpartsey commented on #752
@yhymason Feel free to re-open the issue, if you still have questions.

[2022-09-12 13:46] #752 closed

[2022-09-12 13:49] rpartsey commented on #756
@yhymason Feel free to re-open the issue, if you still have questions.

[2022-09-12 13:49] #756 closed

[2022-09-12 13:53] dhruvbatra commented on #756
@rpartsey — we get this question about Habitat coordinate system quite frequently. We should create a page or tutorial on it with visuals so that we can point people to it. I believe Eric has a draft PR on it that you might want to take over.

[2022-09-12 15:52] aclegg3 commented on #947
@keeper1314 this looks like a compatibility issue with gcc compiler. Did you install habitat-sim-0.1.5 from conda or build from source? What gcc version is installed on your system?

[2022-09-13 06:10] rpartsey commented on #759
@nicolaischneider Feel free to re-open the issue, if you still have questions.

[2022-09-13 06:10] #759 closed

[2022-09-13 06:13] rpartsey commented on #763
CC: @ASzot

[2022-09-13 06:55] rpartsey commented on #779
The file was removed in scope of PR https://github.com/facebookresearch/habitat-lab/pull/764.

[2022-09-13 06:58] rpartsey commented on #780
Closing the issue because it has not had recent activity.
@yhymason Feel free to re-open the issue, if you still have questions.

[2022-09-13 06:59] #781 closed

[2022-09-13 07:10] rpartsey commented on #788
Hi @zwy020450, could you please provide more details on what code are you running and what configs are you using?

[2022-09-13 07:27] #835 closed

[2022-09-13 14:40] sivannavis commented on #931
After some checking, it turns out to be a version mismatch between Habitat-lab and SAVI code. I rolled back to version 0.2.1 and problem solved.

[2022-09-13 14:40] #931 closed

[2022-09-13 17:43] rpartsey commented on #857
Hi @manjrekarom, yes you are right if you used this config [habitat-lab/habitat_baselines/config/pointnav/ddppo_pointnav.yaml](https://github.com/facebookresearch/habitat-lab/blob/323f78684de0d348fc57f0cd3be4ae8a5c0e3435/habitat_baselines/config/pointnav/ddppo_pointnav.yaml#L13) then you would have only "depth" key  in observations.

1. The problem with your code is that you are using this config

[2022-09-14 01:23] keeper1314 commented on #947
I build habitat-sim-0.1.5 from source. gcc version is 9.1.0.

[2022-09-19 21:16] YicongHong opened #951 "Object Nav Performance"
Habitat-Lab: v0.1.7, Habitat-Sim: v0.1.7

Hi There, I have a question about the results of training MP3D object-nav with DDPPO.
I have a very simple baseline which uses CLIP for RGB and PointNav-Resnet for Depth features (this is the only thing I changed in the code), the original policy network, and the default DDPPO configurations. I trained the exactly same model twice for 250M steps,  the two

[2022-09-20 18:17] shuhangchen opened #953 "TopDownMap plotting goal position"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: main

Habitat-Sim: v0.2.2

Master branch contains 'bleeding edge' code, but we do appreciate bug reports for it!

## 🐛 Bug

TopDownMap does not plot goal position in navigation task when the episode of environment contains attribute "goals"

## Steps to Reproduce

Steps to reproduce the behavior:

1. python examples/shortest_path_follower_exampl

[2022-09-22 08:44] rpartsey opened #954 "From camera to world transformation tutorial/example"
## 🚀 Feature

## Motivation

We get questions about Habitat coordinate system quite frequently. We should create a page or tutorial on it with visuals.

[2022-09-22 08:46] rpartsey commented on #756
@dhruvbatra Thanks! That's exactly what I planned to do. Opend a new Issue https://github.com/facebookresearch/habitat-lab/issues/954 and assigned to myself.

[2022-09-28 07:33] WangJuan6 opened #960 "Incorrect semantic mask accquired from habitat-api"
Hi,

I used the habitat-api to get the semantic mask in the ARNzJeq3xxb scene of the mp3d dataset:

In the reset() function:
[code]

In the step() function:
[code]

I save the  mask of the plant using the code below:
[code]
However I noticed the semantic mask of the plant has the wrong region,

The RGB image and semantic mask of the plant at timestep 19 are shown below:

![rgb_000019](https://user

[2022-09-29 00:17] dhruvbatra commented on #960
Not commenting on this specific case (because I can't visually understand what's going on), but in general, MP3D annotations are known to be noisy (and the simulator cannot change that; noise in, noise out). Try HM3D-Semantics (https://aihabitat.org/datasets/hm3d-semantics/); still not noise-free, but better. If you still see such gross errors in HM3D-Semantics, then it's worth looking at your cod

[2022-09-29 02:50] WangJuan6 commented on #960
Thanks for your reply, I'll try the HM3D-Semantics dataset.

[2022-09-29 06:02] #960 closed

[2022-09-30 23:09] jrreyna opened #964 "No mechanism to assess viability of certain dataset objects"
## 🚀 Feature
Need script or series of scripts to assess the memory use of dataset objects, as well as making sure they look realistic during physics simulations. We need to calculate vertex count of meshes, RAM and GPU memory used when instantiating them, and making sure they behave realistically with physics. We want to identity assets that could be problematic, and eventually write a script to f

[2022-10-03 22:53] #964 closed

[2022-10-03 22:54] jrreyna commented on #964
I accidentally made this in habitat lab instead of sim. I made a new issue in sim

[2022-10-25 18:26] MichaelGaliciaZ opened #985 "I can't run examples"
I installed habitat-sim correctly but when I install habitat-lab and try an example with:

(habitat_NB_with_habitat_lab) miguel@miguel:~/habitat-lab$ python examples/example_pointnav.py
Traceback (most recent call last):
  File "examples/example_pointnav.py", line 7, in <module>
    import habitat
  File "/home/miguel/anaconda3/envs/habitat_NB_with_habitat_lab/lib/python3.7/site-packages/habitat/_

[2022-10-26 22:39] aclegg3 commented on #985
Hey @MichaelGaliciaZ,

The `robots` module was moved from habitat-sim to habitat-lab, so my guess would be you've got some outdated or mis-matched versions here.

habitat-sim `main` or nightly conda corresponds to habitat-lab `main`. Otherwise you should be using equivalently tagged versions (e.g. both `stable` or both `vx.x`).

[2022-10-27 00:46] MichaelGaliciaZ commented on #985
I also thought that habitat-sim **nightly** corresponded to habitat-lab --branch **main**, but when I installed it, it did not work. I partially solved this problem by installing habitat-lab --branch **header_changes**

**After testing the examples, run:**

 (habitat_NB_Header_Changes) miguel@miguel:~/habitat-lab$ python examples/interactive_play.py

Everything seemed to be going well, until final

[2022-10-27 16:49] mathfac commented on #11
Looks like logging is fine now.

[2022-10-27 16:49] #11 closed

[2022-10-27 17:12] mathfac commented on #15
@aclegg3 do we have this functionality already in master? Thanks.

[2022-10-27 17:51] Skylion007 commented on #15
Not quite. The main thing we need is to automatically compute the appropriate camera pose based on the agent's bbox.

[2022-10-28 20:24] aclegg3 commented on #985
@MichaelGaliciaZ, glad you got the examples worked out for the most part.

`interactive_play.py` is unique here in that it uses pygame to run an interactive application window using your display system. In this case, my best guess is that the issue is coming from your system's GLX configuration. Maybe a driver issue?

Tagging @mosra for graphics driver insight and @ASzot for interactive_play.py

[2022-10-30 02:44] SergioArnaud opened #989 "Shape mismatch in visual encoder when using `third_rgb_sensor` view in evaluation"
## Habitat-Lab and Habitat-Sim versions

Habitat-Lab: master
Habitat-Sim: master

## 🐛 Bug

If we add `third_rgb_sensor` to the [video_render_views](https://github.com/facebookresearch/habitat-lab/blob/6af04364146047fc57eb5a406f190d894f1e1256/habitat-baselines/habitat_baselines/config/default.py#L33), train an agent (using ddppo or ver) and try to evaluate it then we get a shape mismatch error.

#

[2022-11-07 06:18] CwwwwS commented on #908
I have the same problem, do you know how to solve it?

[2022-11-07 06:22] xuexidi commented on #908
please see this:
https://github.com/allenai/embodied-clip/issues/6

[2022-11-08 07:06] CwwwwS commented on #908
Thank you for your reply, I checked this link above, but still did not find a suitable solution. The problem I encountered is very inexplicable, the previous night can still run, but the next day will not work, is it because I reinstalled ROS or opencv, but I think it does not affect my conda environment. I am using a single GPU

[2022-11-08 08:14] CwwwwS commented on #908
I've solved it, it's a GPU driver problem.  Thank you very much.

[2022-11-08 12:02] parzaech opened #993 "not able to completely dwnld H-lab"
after completely downloading habitat sim and cloning
![Screenshot from 2022-11-08 17-30-57](https://user-images.githubusercontent.com/58459090/200558800-2a54ee30-699b-49bc-8c2f-98a992b85774.png)
this error is coming :
![Screenshot from 2022-11-08 17-31-57](https://user-images.githubusercontent.com/58459090/200558923-2cc8d93b-862c-45d5-abcd-f624d65640ad.png)
Please help.
Thanks.

[2022-11-17 06:50] pioneer-innovation opened #1003 "The simulator doesn't seem to use the GPU when training baselines."
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: vx.x.x or master?
master
Habitat-Sim: vx.x.x or master?
master
Habitat is under active development, and we advise users to restrict themselves to stable releases. Are you using the latest release versions of [Habitat-Lab](https://github.com/facebookresearch/habitat-lab/releases) and [Habitat-Sim](https://github.com/facebookresearch/habitat-sim/r

[2022-11-18 08:21] alper111 commented on #993
Try `pip install -e .`

[2022-11-18 15:05] parzaech commented on #993
yup thanks, this worked.

[2022-11-18 15:05] #993 closed

[2022-11-18 15:15] pioneer-innovation commented on #1003
@erikwijmans Could you please help me?

[2022-11-18 17:18] HuskyKingdom opened #1005 "EOF Error after force stop training"
I was running the provided baseline code using the following command:
`python3 -u habitat_baselines/run.py --exp-config habitat_baselines/config/pointnav/ppo_pointnav_example.yaml --run-type train`, training was good at first for few hours until I stoped it by `ctrl+c` in terminal, when I try to rerun it, I got the EOF error
 when constructing env, shown as following:

_________
`Process ForkServe

[2022-11-20 03:50] yingchengyang opened #1008 "Question about the pretrained RGBD PPO model for Gibson"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

## ❓ Questions and Help
Thanks a lot for designing such an excellent codebase for Embodied AI! I have some questions about the performance of pretrained models provided in habitat_baselines.

I have tested trained RGB, RGBD, and Depth PPO models for Gibson 100 trajectories. The success rate of the RGB model and the D

[2022-11-20 21:45] dhruvbatra commented on #1008
I suspect you're using the models from here:
https://github.com/facebookresearch/habitat-lab/tree/main/habitat-baselines/habitat_baselines

That's part of our 2019 ICCV release. At that time, we did find RGBD models performing poorly, but the code has changed a lot since then so it's hard to be confident why you're seeing what you're seeing.

I would recommend using the models from the DD-PPO pape

[2022-11-20 21:45] #1008 closed

[2022-11-22 08:33] yingchengyang opened #1013 "How to generate position images of each trajectory at testing stage"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

## ❓ Questions and Help

Thanks a lot for designing such an excellent codebase for Embodied AI! I have some questions about how to generate position images, i.e., a map with the route of the agent like Fig. 4 and Fig. 12 in [1], in the videos when testing in the pointnav task. What parameters can I set to achieve thi

[2022-11-22 16:37] dhruvbatra commented on #1013
Please go through the Hab-Sim basics for Navigation tutorial here: https://aihabitat.org/tutorial/2020/

[2022-11-22 16:37] #1013 closed

[2022-11-23 03:45] yingchengyang opened #1015 "How to generate position images when testing at habitat-baseline"
## Habitat-Lab and Habitat-Sim versions
Habitat-Lab: master

Habitat-Sim: master

## ❓ Questions and Help

Thanks a lot! I have found it in the tutorial on Hab-Sim basics and the file habitat-lab/habitat/utils/visualizations/maps.py for using it in Habitat-lab. But I unfortunately do not find how to draw this map when evaluating trained models by using the code in habitat-baselines. As for habitat

[2022-11-23 06:33] ylqi commented on #59
Hi, I cannot find any `*.glb` files in those `*.zip` files. Those `*.zip` files include files such as `*.png`, `*.sens`, `*.ply`, `*.json` or `*.cam`. May I know which `*.zip` file includes the `*.glb` files?

[2022-11-23 06:59] ylqi commented on #918
Hi, I have the same question. Those downloaded *.zip files only include files such as *.png, *.sens, *.ply, *.json or *.cam. Did you solve this question?

[2022-11-23 07:02] EchoTHChen commented on #918
@ylqi
 I solved it by adding an option:
`python download_mp.py --task habitat -o path/to/download/`

[2022-11-23 07:02] EchoTHChen commented on #918
Note that this download script requires python 2.7 to run.

[2022-11-23 07:04] EchoTHChen commented on #918
@ylqi . Maybe you should remove all the downloaded matterport3d data and re-download.

[2022-11-23 07:06] EchoTHChen commented on #918
The download path you set should be empty

[2022-11-23 07:15] ylqi commented on #918
Thank you!
I find the `*.glb` in `tasks/mp3d_habitat.zip`.
(I spent a lot of time downloading the `scans/` folder, so I thought it would be under the `scan/` folder.)

[2022-11-23 18:19] dhruvbatra commented on #1015
Yeah, looks like we are lacking a clear tutorial on how to make such a video.

Check out this visualization code from @Ram81:
https://github.com/Ram81/habitat-imitation-baselines/blob/master/examples/objectnav_replay.py

And this test that will tell you how to combine everything:
https://github.com/Ram81/habitat-imitation-baselines/blob/master/test/test_visual_utils.py

[2022-11-24 09:42] yingchengyang commented on #1015
Thanks a lot for your valuable and patient comment. Based on this test [https://github.com/Ram81/habitat-imitation-baselines/blob/master/test/test_visual_utils.py](https://github.com/Ram81/habitat-imitation-baselines/blob/master/test/test_visual_utils.py), I successfully add the map of the agent's route in the video! However, I still can not draw the target point and the shortest path (target solu

[2022-11-30 06:20] #937 closed

[2022-11-30 08:28] alper111 commented on #985
I have `habitat=0.2.2`and `habitat-sim=0.2.2` (installed from conda, not nightly), and I have this error, too.